<div class="boxNews1">
  <div class="wrapForm">
    <a href="https://www.alacompras.com.br/lista/casa-moveis-decoracao/_Frete_Full#applied_filter_id%3Dshipping_highlighted_fulfillment%26applied_filter_name%3DTipo+de+envio%26applied_filter_order%3D1%26applied_value_id%3Dfulfillment%26applied_value_name%3DFull%26applied_value_order%3D1%26applied_value_results%3D91">
    <img class="desktop" src="https://www.arquivosalacompras.com.br/banner/Banner Meio/banner_meio_casa.jpg" alt="" style="width: 142em; height: 30em;">
    <img class="mobile" src="https://www.arquivosalacompras.com.br/banner/Banner Meio/banner_meio_casa_mobile.jpg" alt="" style="width: 100%;">
    </a> 
  </div>
</div>

<!-- Grid de Banners --> 

<div class="BoxGridBanners" >  
  <p>Busca por Categorias</p>  
  <ul>
      <li class="Bum">
          <a href="https://www.alacompras.com.br/casa" >
            <img src="https://www.arquivosalacompras.com.br/banner/Mosaico Banners/banner_mosaico_1.jpg" style="width: 100%;">        
          </a>
      </li>
      <li class="Bdois">  
          <a href="https://www.alacompras.com.br/bebes" >
            <img src="https://www.arquivosalacompras.com.br/banner/Mosaico Banners/banner_mosaico_2.jpg" style="width: 100%;">            
          </a>
      </li>
      <li class="Btres">
          <a href="https://www.alacompras.com.br/esportes" >
            <img src="https://www.arquivosalacompras.com.br/banner/Mosaico Banners/banner_mosaico_3.jpg" style="width: 100%;">           
          </a>
      </li>
      <li class="Bquatro">
          <a href="https://www.alacompras.com.br/ferramentas" >
            <img src="https://www.arquivosalacompras.com.br/banner/Mosaico Banners/banner_mosaico_4.jpg">           
          </a>
      </li>
      <li class="Bcinco">
          <a href="https://www.alacompras.com.br/veiculos" >
            <img src="https://www.arquivosalacompras.com.br/banner/Mosaico Banners/banner_mosaico_5.jpg" style="width: 100%;">         
          </a>
      </li>
  </ul>
</div>

<!-- Carrossel de Categorias --> 

<div class="BoxCarrosselMarcas BoxCarrosselCategorias">
  <p>Nossos Destaques</p>
  <ul class="ListaCategorias">
      <li>
          <a href="https://www.alacompras.com.br/veiculos">
            <img src="https://www.arquivosalacompras.com.br/banner/Destaques Banners/destaque_1.jpg">
          </a>
      </li>
      <li>
          <a href="https://www.alacompras.com.br/utilidades">
            <img src="https://www.arquivosalacompras.com.br/banner/Destaques Banners/destaque_2.jpg">
          </a>
      </li>
      <li>
          <a href="https://www.alacompras.com.br/caixas-e-organizadores">
            <img src="https://www.arquivosalacompras.com.br/banner/Destaques Banners/destaque_3.jpg">
          </a>
      </li>
      <li>
          <a href="https://www.alacompras.com.br/camping">
            <img src="https://www.arquivosalacompras.com.br/banner/Destaques Banners/destaque_4.jpg">
          </a>
      </li>  
      <li>
          <a href="alacompras.com.br/lista/ferramentas-manuais/">
            <img src="https://www.arquivosalacompras.com.br/banner/Destaques Banners/destaque_5.jpg">
          </a>
      </li> 
      <li>
          <a href="https://www.alacompras.com.br/passeio-bebe">
            <img src="https://www.arquivosalacompras.com.br/banner/Destaques Banners/destaque_6.jpg">
          </a>
      </li> 
      <li>
          <a href="https://www.alacompras.com.br/veiculos">
            <img src="https://www.arquivosalacompras.com.br/banner/Destaques Banners/destaque_1.jpg">
          </a>
      </li>
      <li>
          <a href="https://www.alacompras.com.br/utilidades">
            <img src="https://www.arquivosalacompras.com.br/banner/Destaques Banners/destaque_2.jpg">
          </a>
      </li>
      <li>
          <a href="https://www.alacompras.com.br/caixas-e-organizadores">
            <img src="https://www.arquivosalacompras.com.br/banner/Destaques Banners/destaque_3.jpg">
          </a>
      </li>
      <li>
          <a href="https://www.alacompras.com.br/camping">
            <img src="https://www.arquivosalacompras.com.br/banner/Destaques Banners/destaque_4.jpg">
          </a>
      </li>
      <li>
          <a href="alacompras.com.br/lista/ferramentas-manuais/">
            <img src="https://www.arquivosalacompras.com.br/banner/Destaques Banners/destaque_5.jpg">
          </a>
      </li>
      <li>
          <a href="https://www.alacompras.com.br/passeio-bebe">
            <img src="https://www.arquivosalacompras.com.br/banner/Destaques Banners/destaque_6.jpg">
          </a>
      </li>  
  </ul>
</div>


  <div class="OverLayInstitucionais" style="display: none;">
    <div class="BoxInstitucionais">
      <div class="contentInstitucionais">
        <div class="headInstitucionais">
          <img src="https://www.arquivosalacompras.com.br/institucional/banner.png"> 
          
          <img class="logo" src="https://www.arquivosalacompras.com.br/institucional/logo.png" style="width: 20%;">     

        </div>

        <div class="ContentDiv">

          <div class="conteudoUm">
            <p>
            <strong>SOBRE NÓS</strong><br>
            A Ala Compras surgiu em 2016, uma empresa familiar, com o intuito de levar aos consumidores qualidade e diversidade de produtos.<br>
            Buscamos nos empenhar para com os clientes e parceiros, agindo sempre com <strong>integridade</strong>, <strong>honestidade</strong> e <strong>respeito</strong>, contribuindo<br>
            para o seu Desenvolvimento.<br>
            <br>
            <strong>Seja bem-vindo a ALA COMPRAS</strong>
            </p>
          </div>        

          <ul class="IconesIntitucionais"> 
            <li>
              <div class="beneficios-item">
                <img src="https://www.arquivosalacompras.com.br/institucional/missao.png">
                <h2>Missão</h2>
                <p>Fornecer produtos de alta qualidade,<br>
                    marcas variadas para todos os<br>
                      nossos clientes e amigos
                </p>
              </div>
            </li>
            <li>
              <div class="beneficios-item">
                <img src="https://www.arquivosalacompras.com.br/institucional/visao.png">
                <h2>Visão</h2>
                <p>Satisfazer nossos clientes,<br>
                  fornecendo os produtos<br>
                  que eles procuram.
                </p>
              </div>
            </li>
            <li>
              <div class="beneficios-item">
                <img src="https://www.arquivosalacompras.com.br/institucional/valores.png">
                <h2>Valores</h2>
                <p>Respeito ao consumidor; <br>
                    Transparência; <br>
                    Satisfação em atender bem.
                </p>
              </div>
            </li>
          </ul>
      </div>
      </div>
    </div>    
  </div>


  <footer>
    <div class="boxNews">
      <div class="wrapForm">
        <div class="titleNews" style="text-align-last: center; line-height:25px;">
          <img src="https://www.arquivosalacompras.com.br/icones/carta.svg" alt="Contato">
          <h3>RECEBA AS NOVIDADES E LANÇAMENTOS</h3>
          <p>Cadastre-se em nossa newsletter e fique por dentro de que acontece na Ala Compras!</p>
        </div>
        <form id="formNews" action="" method="post">
          <ul class="list-itens">
            <li class="item-form">
              <input id="nome" class="nome" type="text" placeholder="Qual o seu nome">
            </li>
            <li class="item-form">
              <input id="email" class="email" type="email" placeholder="E Qual o seu e-mail">
            </li>
            <li class="item-action">
              <button id="btnSubimit" class="btnSubimit">OK</button>
              <div id="resultado"></div>
            </li>
          </ul>
        </form>
      </div>
    </div>

<!--    <div class="VideoInstitucionalIsmafer">
      <h2>Conheça o Mercadão</h2>
      <span>saiba mais</span>
      <p>Pequena descrição do vídeo Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. Mauris nunc tortor, varius 
        id scelerisque a, imperdiet ut sapien. id scelerisque a, 
        imperdiet ut sapien. id scelerisque a, imperdiet ut sapien.
      </p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ZOvxXnXmkCg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>-->
    <div class="bg-FirstFooter">
      <ul class="FirstFooter">
        <li class="TituloFooter Bum">
	    		<div class="LogoBottom">
	    			<a href="/">
	  				<img src="https://www.arquivosalacompras.com.br/Logo/Logo.png">
    				</a>
            <p style="font-weight: 900; font-size: 10px;">Rua Alim Chaia, 132<br>
               Professor Antônio da Silva Penteado<br>
               Marília/SP</p>
	    		</div>
        </li>
        
        <li class="TituloFooter Bdois"><span>Institucionais <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg> </span>
          <ul class="HideMobile">
            <li><a href="/sobre-a-loja">Quem somos</a></li>
            <li><a href="/p/contato">Política de entrega</a></li>
            <li><a href="/p/troca">Política de troca e devolução</a></li>             
          </ul>  
        </li>     
              
        <li class="TituloFooter Btres"><span>Atendimento <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg> </span>
          <ul class="HideMobile">
            <li>
              <a class="item-list-footer" href="tel:+5514998551807">(14) 99855-1807</a>
            </li>
            <li>
              <a class="item-list-footer" href="mailto:alacomprasml@gmail.com">E-mail: alacomprasml@gmail.com</a>
            </li> 
          </ul>  
        </li>
        
        <li class="TituloFooter ftInstitucional Bquatro"><span>Ajuda e Suporte <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg> </span>
          <ul class="HideMobile">
            <li>
              <a class="item-list-footer" href="/p/como-comprar">Como comprar</a>
            </li>
            <li>
              <a class="item-list-footer" href="/p/privacidade">Segurança e Privacidade</a>
            </li> 
          </ul>        
        </li>
        
        <li class="TituloFooter FormasDePagamentoMobile Bseis"><span>Formas de Pagamento</span>
          <ul>
            <li>
              <img src="https://lunnar.com.br/casa/png/formas/mercado-pago.png" style="margin-bottom: 10px;">  
            </li>
            <li>
              <img src="https://lunnar.com.br/casa/png/formas/bandeiras.png">           
            </li> 
          </ul>        
        </li>

        <li class="Bcinco">        
          <span style="font-size: 14px; font-weight: bold; text-transform: uppercase; padding: 10px; margin-bottom: 5px;">Redes Sociais</span>
          <ul class="RedesSociaisFooter">
            <ul class="Sociais">
              <li>
                <a href="" target="_blank">
                  <img src="https://www.arquivosalacompras.com.br/icones/Facebook.svg">  
                </a>           
              </li>
              <li>
               <a href="" target="_blank">
                  <img src="https://www.arquivosalacompras.com.br/icones/Instagram.svg">                 
                </a>
              </li>
            </ul>
          </ul>        
        </li>
      </ul>
      <ul class="SecondFooter">
      <li class="copy">
        <p>
          © Todos os direitos reservados<br>
          ALA COMPRAS ME -- CNPJ: 31.617.629-0001/09 -- IE:438.444.674.110          
        </p>
      </li>
    </ul>
    </div>

    <ul class="SecondFooter2">
    <li class="Powered">
        <ul>
          <li>
            <a href="#">
              <img src="https://lunnar.com.br/casa/png/site-blindado.png">          
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://lunnar.com.br/casa/png/mercado-shops.png">                         
            </a>
          </li>
          <li>
            <a href="https://benova.ag/?utm_source=alacompras&utm_medium=banner&utm_campaign=Logo%20Benova%20Clientes">
              <img class="logo-benova" src="https://www.ismafer.site/i/topoerodape/logo-benova-footer138px.png">              
            </a>
          </li>
        </ul>
      </li>
      </ul>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  
 <script>

    $(function(){

      var urlPresente = document.URL;
      console.log(urlPresente);

      if (urlPresente == "https://alacompras.com.br/sobre-a-loja"){      
        $('.nav-main-content').hide();
        $('.ui-search-rescue').hide();
        $('.OverLayInstitucionais').show();

        $('.BoxCarrosselMarcas.BoxCarrosselCategorias').hide();
        $('.BoxCarrosselMarcas').hide();
        $('.BoxGridBanners').hide();

        console.log('Estou na página SOBRE');      

      } else{

        console.log('Estou na página HOME');  
      }

    });

    $('.ListaCategorias').slick({
          dots: true,
          infinite: true,
          arrows:true,
          speed: 300,
          slidesToShow: 4,
          slidesToScroll: 4,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 4,
                slidesToScroll: 4,
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            }        
          ]
        });
    
    $('.ListaMarcas2').slick({
        dots: false,
        infinite: true,
        arrows:true,
        speed: 300,
        slidesToShow: 7,
        slidesToScroll: 1,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 7,
              slidesToScroll: 1,
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 1
            }
          }        
        ]
    });

    $('.FirstFooter li.TituloFooter').click(function(){      
      $(this).toggleClass('RodapeAberto');
    });

    $('.FecharInstitucionais').click(function(){
      //$('.OverLayInstitucionais').toggleClass('AtivoInstitucionais');
    });

    $('.FirstFooter').click(function(){
      //$('.OverLayInstitucionais').toggleClass('AtivoInstitucionais');
    });

  </script>

  <script>
    $(document).ready(function(){

    //$('.MetaTagHead').appendTo('head');

    $('.TodasCategorias').mouseover(function(){
      $('.OverlayMenuTodas').show();
    });
  
    $('.TodasCategorias').mouseout(function(){
      $('.OverlayMenuTodas').hide();
    });

    $('.VaiTerNetos').mouseout(function(){
      $('.CasaDasSerrasMenu').show();
    });

    $('.VaiTerNetos').mouseover(function(){
      $('.CasaDasSerrasMenu').hide();
    });

    $('.TodasCategorias').mouseout(function(){
      $('.OverlayMenuTodas').hide();
    });
  
    //$('.search-button').click(function(){
      //$('.BoxBuscaPopUp').fadeIn(300).css('display', 'flex');
    //});
  
    $('.IconeFecharBusca').click(function(){
      $('.BoxBuscaPopUp').toggleClass('BoxAbertoMobile');
      $('.IcoBusca').toggleClass('MenuAbertoMobileButton');
    });

     $('.IcoBuscaMobile').click(function(){
      $('.BoxBuscaPopUp').toggleClass('BoxAbertoMobile');
      $('.IcoBuscaMobile').toggleClass('MenuAbertoMobileButton');
    });    

    $('.MenuMobile').click(function(){
      $('.MenuNovoCasa').toggleClass('MenuAbertoMobile');
      $(this).toggleClass('MenuAbertoMobileButton');
    });

    $('.TodasCategorias.categoria-pai').click(function(){      
      $(this).toggleClass('AbreMenuMobile');
      $('.MenuAbertoMobile').toggleClass('AbreMenuMobile');
    });

    $(function(){
      //$('.BoxCarrosselMarcas').insertAfter('.slider.slider--medium');   
    });

    $(function(){
      $('link[rel="shortcut icon"]').attr("href", "https://www.arquivosalacompras.com.br/favicon/favicon-32x32.png");
    });

    $(function(){
      $('link[rel="icon"]').attr("href", "https://www.arquivosalacompras.com.br/favicon/favicon-32x32.png");
    });


  });
  </script>
