<div class="boxNews1">
  <div class="wrapForm">
    <img class="bannerdesktop" src="https://lunnar.com.br/cidadeecampo/banner/bannerfaixa.jpg" alt="" style="width: 100%; height: auto;">
    <img class="bannermobile" src="https://lunnar.com.br/cidadeecampo/banner/bannerfaixa.jpg" alt="" style="width: 100%; height: auto;">
  </div>
</div>

<!-- Grid de Banners --> 

<div class="BoxGridBanners">  
  <p>Busca por Categorias</p>  
  <ul>
      <li class="Bum">
          <a href="https://www.cidadeecampo.com.br/lista/ferramentas-eletricas/ferramentas_NoIndex_True#applied_filter_id%3Dcategory%26applied_filter_name%3DCategorias%26applied_filter_order%3D1%26applied_value_id%3DMLB2526%26applied_value_name%3DFerramentas+El%C3%A9tricas%26applied_value_order%3D2%26applied_value_results%3D2%26is_custom%3Dfalse" >
            <img src="https://lunnar.com.br/cidadeecampo/banner/banner1.jpg" style="width: 100%;">        
          </a>
      </li>
      <li class="Bdois">  
          <a href="https://www.cidadeecampo.com.br/corte-debaste-e-perfura%C3%A7%C3%A3o" >
            <img src="https://lunnar.com.br/cidadeecampo/banner/banner2.jpg" style="width: 100%;">            
          </a>
      </li>
      <li class="Btres">
          <a href="https://www.cidadeecampo.com.br/ferramentas" >
            <img src="https://lunnar.com.br/cidadeecampo/banner/banner3.jpg" style="width: 100%;">           
          </a>
      </li>
      <li class="Bquatro">
          <a href="https://www.cidadeecampo.com.br/ventila%C3%A7%C3%A3o" >
            <img src="https://lunnar.com.br/cidadeecampo/banner/banner4.jpg">           
          </a>
      </li>
      <li class="Bcinco">
          <a href="https://www.cidadeecampo.com.br/eletrodom%C3%A9sticos" >
            <img src="https://lunnar.com.br/cidadeecampo/banner/banner5.jpg" style="width: 101%;">         
          </a>
      </li>
  </ul>
</div>

<!-- Carrossel de Categorias --> 

<div class="BoxCarrosselMarcas BoxCarrosselCategorias">
  <p>Nossas marcas</p>
  <ul class="ListaCategorias">
      <li>
          <a href="https://www.cidadeecampo.com.br/Makita">
            <img src="https://lunnar.com.br/cidadeecampo/Carrossel/Makita.jpg">
          </a>
      </li>
      <li>
          <a href="https://www.cidadeecampo.com.br/Menegotti">
            <img src="https://lunnar.com.br/cidadeecampo/Carrossel/Menegotti.jpg">
          </a>
      </li>
      <li>
          <a href="https://www.cidadeecampo.com.br/Lorenzetti">
            <img src="https://lunnar.com.br/cidadeecampo/Carrossel/Lorenzetti.jpg">
          </a>
      </li>
      <li>
          <a href="https://www.cidadeecampo.com.br/CID">
            <img src="https://lunnar.com.br/cidadeecampo/Carrossel/CID.jpg">
          </a>
      </li>  
      <li>
          <a href="https://www.cidadeecampo.com.br/Trapp">
            <img src="https://lunnar.com.br/cidadeecampo/Carrossel/Trapp.jpg">
          </a>
      </li> 
      <li>
          <a href="https://www.cidadeecampo.com.br/Vonder">
            <img src="https://lunnar.com.br/cidadeecampo/Carrossel/Vonder.jpg">
          </a>
      </li> 
      <li>
          <a href="https://www.cidadeecampo.com.br/Karcher">
            <img src="https://lunnar.com.br/cidadeecampo/Carrossel/Karcher.jpg">
          </a>
      </li>
      <li>
          <a href="https://www.cidadeecampo.com.br/Ventisol">
            <img src="https://lunnar.com.br/cidadeecampo/Carrossel/Ventisol.jpg">
          </a>
      </li>
      <li>
          <a href="https://www.cidadeecampo.com.br/Metalsul">
            <img src="https://lunnar.com.br/cidadeecampo/Carrossel/Metalsul.jpg">
          </a>
      </li>
      <li>
          <a href="https://www.cidadeecampo.com.br/Starflex">
            <img src="https://lunnar.com.br/cidadeecampo/Carrossel/Starflex.jpg">
          </a>
      </li>
      <li>
          <a href="https://www.cidadeecampo.com.br/Garthen">
            <img src="https://lunnar.com.br/cidadeecampo/Carrossel/Garthen.jpg">
          </a>
      </li>
      <li>
          <a href="https://www.cidadeecampo.com.br/Bovanau">
            <img src="https://lunnar.com.br/cidadeecampo/Carrossel/Bovanau.jpg">
          </a>
      </li>       
  </ul>
</div>


  <div class="OverLayInstitucionais" style="display: none;">
    <div class="BoxInstitucionais">
      <div class="contentInstitucionais">
        <div class="headInstitucionais">
          <img src=""> 
          
          <ul class="menuInstitucionaisBox">
            <li class="menuInstitucionais"><a href="#NossasLojas">Nossas Lojas</a></li>
            <li class="menuInstitucionais"><span> | </span></li>
            <li class="menuInstitucionais"><a href="/p/como-comprar">Como Comprar</a></li>
            <li class="menuInstitucionais"><span> | </span></li>
            <li class="menuInstitucionais"><a href="/p/privacidade">Privacidade</a></li>
            <li class="menuInstitucionais"><span> | </span></li>
            <li class="menuInstitucionais"><a href="/p/contato">Fale Conosco</a></li>
          </ul>       

        </div>

        <div class="ContentDiv">

          <div class="conteudoUm">
            <p>
              A Cidade & Campo trabalha em parceria com fornecedores de marcas líderes no mercado <br>
              mundial, sendo referência no varejo através dos multicanais com uma grande linha <br>
              de produtos, disponibilizando equipamentos, máquinas e ferramentas de qualidade, segurança e <br>
              alto desempenho que proporcionam maior satisfação dos clientes com mercadorias das mais <br>
              variadas categorias, da linha profissional a linha hobby.<br>
              <br>
              Contamos ainda com uma equipe profissional treinada e investimos em tecnologia e inovação<br>
              para que os nossos consumidores tenham também a melhor experiência de compra e para que <br>
              possamos aprimorar nossas atividades diariamente, dentro dos mais amplos princípios éticos e morais.<br>
              <br>
              Nossa matriz fica localizada no município de Jaraguá do Sul/SC, com 02 (dois) depósitos para <br>
              expedição, garantindo despacho ágil e rápida entrega do produto escolhido.<br>
              <br>
              Dispomos ainda de filial no estado de São Paulo, com depósitos compartilhados em <br>
              Louveira/SP e Itapevi/SP, com programa fullfillment de postagem para expandir e reduzir ainda <br>
              mais o prazo de entrega para todo o Brasil.
            </p>
             
          </div>        

          <ul class="IconesIntitucionais"> 
            <li>
              <div class="beneficios-item">
                <img src="">
                <h2>GARANTIA</h2>
                <p>Lorem ipsum is placeholder text commonly used in the graphic, 
                  print, and publishing industries for previewing layouts and 
                  visual mockups.
                </p>
              </div>
            </li>
            <li>
              <div class="beneficios-item">
                <img src="">
                <h2>ENTREGA</h2>
                <p>Lorem ipsum is placeholder text commonly used in the graphic, 
                  print, and publishing industries for previewing layouts and 
                  visual mockups.
                </p>
              </div>
            </li>
            <li>
              <div class="beneficios-item">
                <img src="">
                <h2>COMPROMETIMENTO</h2>
                <p>Lorem ipsum is placeholder text commonly used in the graphic, 
                  print, and publishing industries for previewing layouts and 
                  visual mockups.
                </p>
              </div>
            </li>
          </ul>

          <div class="line-divisor"></div>

            <div class="container-lojas">
              <div class="lojas-item distri">

              </div>
              <div class="lojas-item distri">

              </div>
              <div class="lojas-item distri">

              </div>
            </div>
          </div>
      </div>
      </div>
    </div>    
  </div>


  <footer>
    <div class="boxNews" style="display: none;">
      <div class="wrapForm">
        <div class="titleNews" style="text-align-last: center;">
          <img src="https://lunnar.com.br/cidadeecampo/icons/carta.png" alt="Contato">
          <h3>RECEBA AS NOVIDADES E LANÇAMENTOS</h3>
          <p>Cadastre-se em nossa newsletter e fique por dentro de que acontece na Haiz!</p>
        </div>
        <form id="formNews" action="" method="post">
          <ul class="list-itens">
            <li class="item-form">
              <input id="nome" class="nome" type="text" placeholder="Qual o seu nome">
            </li>
            <li class="item-form">
              <input id="email" class="email" type="email" placeholder="E Qual o seu e-mail">
            </li>
            <li class="item-action">
              <button id="btnSubimit" class="btnSubimit">OK</button>
              <div id="resultado"></div>
            </li>
          </ul>
        </form>
      </div>
    </div>

   <div class="VideoInstitucionalIsmafer" style="display:none;">
      <h2>Conheça A FJ Magazine</h2>

      <p>Pequena descrição do vídeo Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. Mauris nunc tortor, varius 
        id scelerisque a, imperdiet ut sapien. id scelerisque a, 
        imperdiet ut sapien. id scelerisque a, imperdiet ut sapien.
      </p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ZOvxXnXmkCg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
    <div class="bg-FirstFooter">
      <ul class="FirstFooter">
        <li class="Footer Bum">
	    		<div class="LogoBottom">
	    			<a href="/">
	  				<img src="https://lunnar.com.br/cidadeecampo/logo/logo.png">
    				</a>
            <p style="color: white;">Rua Silvio Bortolini, 80, Sala 01<br>
                                       CEP: 89260060 Jaraguá do Sul - SC<br>
                                       Barra do Rio Cerro</p>
	    		</div>
        </li>

        <li class="TituloFooter Bdois">
          <span>Institucionais <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg> </span>
          <ul class="HideMobile">
            <li><a href="/sobre-a-loja">Quem Somos</a></li>
            <li><a href="">Politica de Entrega</a></li>   
            <li><a href="">Politica de Troca E Devolução</a></li>            
          </ul>  
        </li>     
              
        <li class="TituloFooter Btres">
          <span>Ajuda <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg> </span>
          <ul class="HideMobile">
            <li>
              <a class="item-list-footer" href="">Fale Conosco</a>
            </li>
            <li>
              <a class="item-list-footer" href="">Prazos de Entrega</a>
            </li> 
          </ul>  
        </li>
        
        <li class="TituloFooter ftInstitucional Bquatro">
          <span>Contato<svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg> </span>
          <ul class="HideMobile">
            <li>
              <a class="item-list-footer" href="mailto:sac01@cidadeecampo.com.br">E-mail: sac01@cidadeecampo.com.br</a>
            </li>
            <li>
              <a class="item-list-footer" href="tel:+554732732623">Telefone: (47) 3273-2623</a>
            </li> 
            <li style="display:none;">
              <a class="item-list-footer" href="tel:+55">Whatsapp:(99) 9-9999-9999</a>
            </li>
          </ul>        
        </li>
        
        <li class="TituloFooter FormasDePagamentoMobile Bcinco"><span>Formas de Pagamento</span>
          <ul>
            <li>
              <img src="https://lunnar.com.br/casa/png/formas/mercado-pago.png" style="margin-bottom: 10px;">  
            </li>
            <li>
              <img src="https://lunnar.com.br/casa/png/formas/bandeiras.png">           
            </li> 
          </ul>        
        </li>

        <li class="Bseis">
          <span style="color: white; font-weight: 900; font-size: 15px; text-transform: uppercase;">Redes Sociais</span>        
          <ul class="RedesSociaisFooter">
            <li>
              <a href="" target="_blank">
                <img src="https://lunnar.com.br/cidadeecampo/icons/facebook.png">  
              </a>           
            </li>
            <li>
              <a href="" target="_blank">
                <img src="https://lunnar.com.br/cidadeecampo/icons/instagram.png">                 
              </a>
            </li>
          </ul>        
        </li>
      </ul>
      <ul class="SecondFooter">
      <li class="copy">
        <p>
          Copyright © Todos os direitos reservados<br>
          CIDADE & CAMPO - CNPJ 29.485.403/0001-50
        </p>
      </li>
    </ul>
    </div>

    <ul class="SecondFooter2">
    <li class="Powered">
        <ul>
          <li>
            <a href="#">
              <img src="https://lunnar.com.br/casa/png/site-blindado.png">                         
            </a>
          </li>          
          <li>
            <a href="#">
              <img src="https://lunnar.com.br/casa/png/mercado-shops.png">                         
            </a>
          </li>
          <li>
            <a href="https://benova.ag/?utm_source=fjmagazine&utm_medium=banner&utm_campaign=Logo%20Benova%20Clientes">
              <img class="logo-benova" src="https://lunnar.com.br/cidadeecampo/icons/logo-benova-footer138px.png">              
            </a>
          </li>
        </ul>
      </li>
      </ul>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  
 <script>

    $(function(){

      var urlPresente = document.URL;
      console.log(urlPresente);

      if (urlPresente == "https://cidadeecampo.com.br/sobre-a-loja"){      
        $('.nav-main-content').hide();
        $('.ui-search-rescue').hide();
        $('.OverLayInstitucionais').show();

        $('.BoxCarrosselMarcas.BoxCarrosselCategorias').hide();
        $('.BoxCarrosselMarcas').hide();
        $('.BoxGridBanners').hide();
        $('.boxNews1').hide(); 

        console.log('Estou na página SOBRE');      

      } else{

        console.log('Estou na página HOME');  
      }

      $('.ListaCategorias').slick({
          dots: true,
          infinite: true,
          arrows:true,
          speed: 300,
          slidesToShow: 6,
          slidesToScroll: 6,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 6,
                slidesToScroll: 6,
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            }        
          ]
        });      

    });

    $('.FirstFooter li.TituloFooter').click(function(){      
      $(this).toggleClass('RodapeAberto');
    });

    $('.FecharInstitucionais').click(function(){
      //$('.OverLayInstitucionais').toggleClass('AtivoInstitucionais');
    });

    $('.FirstFooter').click(function(){
      //$('.OverLayInstitucionais').toggleClass('AtivoInstitucionais');
    });

  </script>

  <script>
    $(document).ready(function(){

    //$('.MetaTagHead').appendTo('head');

    $('.TodasCategorias').mouseover(function(){
      $('.OverlayMenuTodas').show();
    });

    $('.TodasCategorias').mouseout(function(){
      $('.OverlayMenuTodas').hide();
    });

    $('#search-form').mouseover(function(){
      $('.BoxBuscaPopUp').toggleClass('BoxAbertoMobile');
      $('.OverlayMenuTodas').show();
    });

    $('#search-form').mouseout(function(){
      $('.BoxBuscaPopUp').toggleClass('BoxAbertoMobile');
      $('.OverlayMenuTodas').hide();      
    });

    $('.VaiTerNetos').mouseout(function(){
      $('.CasaDasSerrasMenu').show();
    });

    $('.VaiTerNetos').mouseover(function(){
      $('.CasaDasSerrasMenu').hide();
    });

    $('.TodasCategorias').mouseout(function(){
      $('.OverlayMenuTodas').hide();
    });
  
    $('.search-button').click(function(){
      $('.BoxBuscaPopUp').fadeIn(300).css('display', 'flex');
    });
  
    $('.IconeFecharBusca').click(function(){
      $('.BoxBuscaPopUp').toggleClass('BoxAbertoMobile');
      $('.IcoBusca').toggleClass('MenuAbertoMobileButton');
    });

     $('.IcoBuscaMobile').click(function(){
      $('.BoxBuscaPopUp').toggleClass('BoxAbertoMobile');
      $('.IcoBuscaMobile').toggleClass('MenuAbertoMobileButton');
    });    

    $('.MenuMobile').click(function(){
      $('.MenuNovoCasa').toggleClass('MenuAbertoMobile');
      $(this).toggleClass('MenuAbertoMobileButton');
    });

    //$('.IcoBusca').click(function(){
    //  $('.BoxBuscaPopUp').toggleClass('BoxAbertoMobile');
    //  $(this).toggleClass('MenuAbertoMobileButton');
    //});

    $('.BoxPai1').click(function(){      
      $(this).toggleClass('AbreMenuMobile');
      $('.BoxPai2').toggleClass('BoxPai2Aberto');
    });

    $('.BoxPai2').click(function(){      
      $(this).toggleClass('AbreMenuMobile');
      $('.BoxPai3').toggleClass('BoxPai3Aberto');
    });

    $('.BoxPai3').click(function(){      
      $(this).toggleClass('AbreMenuMobile');
      $('.BoxPai4').toggleClass('BoxPai3Aberto');
    });

    $('.BoxPai4').click(function(){      
      $(this).toggleClass('AbreMenuMobile');
      $('.BoxPai5').toggleClass('BoxPai3Aberto');
    }); 

    $('.BoxPai5').click(function(){      
      $(this).toggleClass('AbreMenuMobile');
      $('.telefone').toggleClass('BoxPai3Aberto');
    });   

    $(function(){
      //$('.BoxCarrosselMarcas').insertAfter('.slider.slider--medium');   
    });

    $(function(){
      $('link[rel="shortcut icon"]').attr("href", "https://lunnar.com.br/cidadeecampo/logo/favicon-32x32.png");
    });

    $(function(){
      $('link[rel="icon"]').attr("href", "https://lunnar.com.br/cidadeecampo/logo/favicon-32x32.png");
    });


  });
  </script>