<!-- Carrossel de Categorias --> 

<div class="BoxCarrosselMarcas BoxCarrosselCategorias">
  <p>Categorias em Destaque</p>
  <ul class="ListaCategorias">
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes">
            <img src="https://www.mercadaodapesca.com/categorias/molinetes.png">
            <span style="color:#929292; font-size: 14px; padding-top: 1em;">Molinetes</span>
          </a>
      </li>
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/pesca/linhas">
            <img src="https://www.mercadaodapesca.com/categorias/linhas.png">
            <span style="color:#929292; font-size: 14px; padding-top: 1em;">Linhas</span>            
          </a>
      </li>
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes">
            <img src="https://www.mercadaodapesca.com/categorias/carretilhas.png">
            <span style="color:#929292; font-size: 14px; padding-top: 1em;">Carretilhas</span>
          </a>
      </li>
      <li>
          <a href="https://www.mercadaodapesca.com.br/iscas">
            <img src="https://www.mercadaodapesca.com/categorias/iscas.png">
            <span style="color:#929292; font-size: 14px; padding-top: 1em;">Iscas</span>
          </a>
      </li>  
      <li>
          <a href="https://www.mercadaodapesca.com.br/anzol">
            <img src="https://www.mercadaodapesca.com/categorias/anzois.png">
            <span style="color:#929292; font-size: 14px; padding-top: 1em;">Anzois</span>
          </a>
      </li> 
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-acessorios/bolsas">
            <img src="https://www.mercadaodapesca.com/categorias/mochilas.png">
            <span style="color:#929292; font-size: 14px; padding-top: 1em;">Mochilas</span>
          </a>
      </li> 
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-acessorios/bolsas">
            <img src="https://www.mercadaodapesca.com/categorias/maletas.png">
            <span style="color:#929292; font-size: 14px; padding-top: 1em;">Maletas</span>
          </a>
      </li>
      <li>
          <a href="https://www.mercadaodapesca.com.br/alicates">
            <img src="https://www.mercadaodapesca.com/categorias/acessorios.png">
            <span style="color:#929292; font-size: 14px; padding-top: 1em;">Acessórios</span>
          </a>
      </li>
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes">
            <img src="https://www.mercadaodapesca.com/categorias/molinetes.png">
            <span style="color:#929292; font-size: 14px; padding-top: 1em;">Molinetes</span>
          </a>
      </li>
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/pesca/linhas">
            <img src="https://www.mercadaodapesca.com/categorias/linhas.png">
            <span style="color:#929292; font-size: 14px; padding-top: 1em;">linhas</span>
          </a>
      </li>
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes">
            <img src="https://www.mercadaodapesca.com/categorias/carretilhas.png">
            <span style="color:#929292; font-size: 14px; padding-top: 1em;">Carretilhas</span>
          </a>
      </li>
      <li>
          <a href="https://www.mercadaodapesca.com.br/iscas">
            <img src="https://www.mercadaodapesca.com/categorias/iscas.png">
            <span style="color:#929292; font-size: 14px; padding-top: 1em;">Iscas</span>
          </a>
      </li>  
      <li>
          <a href="https://www.mercadaodapesca.com.br/anzol">
            <img src="https://www.mercadaodapesca.com/categorias/anzois.png">
            <span style="color:#929292; font-size: 14px; padding-top: 1em;">Anzóis</span>
          </a>
      </li> 
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-acessorios/bolsas">
            <img src="https://www.mercadaodapesca.com/categorias/mochilas.png">
            <span style="color:#929292; font-size: 14px; padding-top: 1em;">Mochilas</span>
          </a>
      </li> 
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-acessorios/bolsas">
            <img src="https://www.mercadaodapesca.com/categorias/maletas.png">
            <span style="color:#929292; font-size: 14px; padding-top: 1em;">Maletas</span>
          </a>
      </li>
      <li>
          <a href="https://www.mercadaodapesca.com.br/alicates">
            <img src="https://www.mercadaodapesca.com/categorias/acessorios.png">
            <span style="color:#929292; font-size: 14px; padding-top: 1em;">Acessórios</span>
          </a>
      </li> 
  </ul>
</div>

<div class="BoxCarrosselMarcas BoxCarrosselCategorias">
  <p>Nossas Marcas</p>
  <ul class="ListaMarcas2">
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes">
            <img class="imgMarca" src="https://www.mercadaodapesca.com/categorias/01-marine.png">
          </a>
      </li>
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/pesca/linhas">
            <img class="imgMarca" src="https://www.mercadaodapesca.com/categorias/02-saint.png" >
          </a>
      </li>
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes">
            <img class="imgMarca" src="https://www.mercadaodapesca.com/categorias/03-shimano.png">
          </a>
      </li>
      <li>
          <a href="https://www.mercadaodapesca.com.br/iscas">
            <img class="imgMarca" src="https://www.mercadaodapesca.com/categorias/04-century.png">
          </a>
      </li>  
      <li>
          <a href="https://www.mercadaodapesca.com.br/anzol">
            <img class="imgMarca" src="https://www.mercadaodapesca.com/categorias/05-maruri.png">
          </a>
      </li> 
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-acessorios/bolsas">
            <img class="imgMarca" src="https://www.mercadaodapesca.com/categorias/06-lms.png">
          </a>
      </li> 
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-acessorios/bolsas">
            <img class="imgMarca" src="https://www.mercadaodapesca.com/categorias/07-redai.png">
          </a>
      </li>
            <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes">
            <img class="imgMarca" src="https://www.mercadaodapesca.com/categorias/01-marine.png">
          </a>
      </li>
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/pesca/linhas">
            <img class="imgMarca" src="https://www.mercadaodapesca.com/categorias/02-saint.png" >
          </a>
      </li>
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes">
            <img class="imgMarca" src="https://www.mercadaodapesca.com/categorias/03-shimano.png">
          </a>
      </li>
      <li>
          <a href="https://www.mercadaodapesca.com.br/iscas">
            <img class="imgMarca" src="https://www.mercadaodapesca.com/categorias/04-century.png">
          </a>
      </li>  
      <li>
          <a href="https://www.mercadaodapesca.com.br/anzol">
            <img class="imgMarca" src="https://www.mercadaodapesca.com/categorias/05-maruri.png">
          </a>
      </li> 
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-acessorios/bolsas">
            <img class="imgMarca" src="https://www.mercadaodapesca.com/categorias/06-lms.png">
          </a>
      </li> 
      <li>
          <a href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-acessorios/bolsas">
            <img class="imgMarca" src="https://www.mercadaodapesca.com/categorias/07-redai.png">
          </a>
      </li>
  </ul>
</div>


<!-- Grid de Banners --> 

<div class="BoxGridBanners">  
  <div class="boxNews">
    <div class="wrapForm">
      <img src="https://www.mercadaodapesca.com/banner-full-rdp.jpg" alt="">
    </div>
  </div>

  <p><br>Busca por Categorias</p>  
  <ul>
      <li class="Bum">
          <a href="" >
            <img src="https://www.mercadaodapesca.com/banner/Banner 01.jpg">        
          </a>
      </li>
      <li class="Bdois">
          <a href="" >
            <img src="https://www.mercadaodapesca.com/banner/Banner 02.jpg">           
          </a>
      </li>
      <li class="Btres">
          <a href="" >
            <img src="https://www.mercadaodapesca.com/banner/Banner 03.jpg">           
          </a>
      </li>
      <li class="Bquatro">
          <a href="" >
            <img src="https://www.mercadaodapesca.com/banner/Banner 04.jpg">           
          </a>
      </li>
      <li class="Bcinco">
          <a href="" >
            <img src="https://www.mercadaodapesca.com/banner/Banner 06.jpg">         
          </a>
      </li>
      <li class="Bseis">
          <a href="" >
            <img src="https://www.mercadaodapesca.com/banner/Banner 05.jpg">         
          </a>
      </li>
  </ul>
</div>

  <!--style="display: none;"-->
  <div class="OverLayInstitucionais"    style="display: none;">
    <div class="BoxInstitucionais">
      <div class="contentInstitucionais">
        <div class="headInstitucionais">
          <img class="bannerdesktop" src="https://www.mercadaodapesca.com/banner/Banner institucional.jpg"> 
          <img class="bannermobile" src="https://www.mercadaodapesca.com/banner/Banner mobile.jpg">
          <div class="menupaginas ">
                  <span class="Icomenu">
                   Menu de Páginas
                   <i class="HideDesktop ArrowMenuMobile">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                        <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </i>
                  </span>
            
          <ul class="menuInstitucionaisBox">
            <li class="menuInstitucionais"><a href="/sobre-a-loja">Sobre a loja</a></li>
            <li class="menuInstitucionais"><a href="/p/como-comprar">Fale com o Bento</a></li>
            <li class="menuInstitucionais"><a href="/p/privacidade">Entregas</a></li>
            <li class="menuInstitucionais"><a href="/p/contato">Politica de trocas e Devoluções</a></li>
            <li class="menuInstitucionais"><a href="/p/contato">Politica de privacidade</a></li>
          </ul>
          </div>       

        </div>

        <div class="ContentDiv">
            <div class="Logoinstitucionais">
              <a href="/">
               <img src="https://www.mercadaodapesca.com/logo-mercadao-da-pesca-registrada.png">
              </a>
            </div>  

          <div class="conteudoUm">
            <p>
              <strong>SOBRE A LOJA</strong> 
              <br>         
              O Mercadão da Pesca nasceu em fevereiro de 2016 com o intuito de ser referência na comercialização pela internet de acessórios para pesca no Brasil, que reúne mais de 2,6 mil espécies de peixes de água doce e 1,3 mil espécies de água marinha.
              <br>
              <br>
              Com 8,5 mil quilômetros de costa e detentor de 3% da água doce do Planeta, o país figura nos últimos anos como um dos 15 maiores produtores de pescados e se destaca em todas as categorias, entre elas a extrativa continental (produção anual de 243 mil toneladas), extrativa marinha (539 mil toneladas), aquicultura continental (210 mil toneladas) e maricultura (78 mil toneladas), segundo os últimos dados do Ibama.
              <br>
              <br>
              Diante desse cenário, o Mercadão da Pesca se consolidou no Mercado Livre (shopping virtual) oferecendo ao consumidor tudo que o mercado dispõe de soluções para pesca, como molinetes, varas, carretilhas, iscas artificiais, entre outros inúmeros itens, sempre com ética e responsabilidade.
              <br>
              <br>
              Após quatro anos de sucesso de vendas, percebemos que era hora de alçar voos maiores. Por isso, lançamos no segundo semestre de 2019 nosso próprio e-commerce, com intuito de aperfeiçoar ainda mais a experiência de compra dos nossos clientes. Por meio de nossas operações 100% digitais, entregamos em todo o território nacional com segurança garantida pelo Mercado Pago.
              <br>
              <br>
              <strong>Seja bem-vindo ao novo Mercadão da Pesca!</strong>
            </p>
             
          </div>        

          <ul class="IconesIntitucionais"> 
            <li>
              <div class="beneficios-item">
                <img src="https://www.mercadaodapesca.com/icons/Seguranca.png">
                <h2>Segunrança</h2>
                <p>Lorem ipsum is placeholder text commonly used in the graphic, 
                  print, and publishing industries for previewing layouts and 
                  visual mockups.
                </p>
              </div>
            </li>
            <li>
              <div class="beneficios-item">
                <img src="https://www.mercadaodapesca.com/icons/Suporte.png">
                <h2>Suporte</h2>
                <p>Lorem ipsum is placeholder text commonly used in the graphic, 
                  print, and publishing industries for previewing layouts and 
                  visual mockups.
                </p>
              </div>
            </li>
            <li>
              <div class="beneficios-item">
                <img src="https://www.mercadaodapesca.com/icons/Pesca.png">
                <h2>Pesca</h2>
                <p>Lorem ipsum is placeholder text commonly used in the graphic, 
                  print, and publishing industries for previewing layouts and 
                  visual mockups.
                </p>
              </div>
            </li>
          </ul>

          <!--
          <div class="line-divisor"></div>

            <div class="container-lojas">
              <div class="lojas-item distri">
                <h2> <span> - Guarulhos/SP</span></h2>
                <p>Centros de distribuição</p>
                <p>Avenida Santos Dumont, nº 3390, Cumbica.</p>
              </div>
              <div class="lojas-item distri">
                <h2> <span> - Cajamar/SP</span></h2>
                <p>Centros de distribuição</p>
                <p>Avenida DR. Antônio João Abdalla, nº 3333.</p>
              </div>
              <div class="lojas-item distri">
                <h2> <span> - Louveira/SP</span></h2>
                <p>Centros de distribuição</p>
                <p>Rua Wagner Luiz, nº 525</p>
              </div>
            </div>
          </div>-->
      </div>
      </div>
    </div>    
  </div>


  <footer>

    <div class="VideoInstitucionalIsmafer">
      <h2>Conheça o Mercadão</h2>
      <a style="margin-top: -20px;margin-bottom: 20px; color:#B4B4B4; font-size:16px;"href="">saiba mais</a>
      <p>Pequena descrição do vídeo Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. Mauris nunc tortor, varius 
        id scelerisque a, imperdiet ut sapien. id scelerisque a, 
        imperdiet ut sapien. id scelerisque a, imperdiet ut sapien.
      </p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ZOvxXnXmkCg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="align-self: center;"></iframe>
    </div>
    <div class="bg-FirstFooter">
      <ul class="FirstFooter">
        <li class="HideMobile">
          <span style="color: #fff; font-size: 18px; clear: both;color: var(--color-gray); font-size: 18px; clear: both; display: block; font-weight:550;">
            Sobre a Loja<br>
          </span>
          <p style="font-size: 15px; color:#9F9F9F; text-align:left; padding-top: .5em; margin-top:0px;">Referência na comercialização <br>
             de artigos para pesa. Revendedor<br>
             autorizado das marcas Albatroz,<br>
             Daiwa, Marine Sports, Maruri, Lumis,<br>
             Saint, Shimano, entre outras.<br>
             Produtos originais e com garantia.<br>
             Investor relations Tendências</p>
        </li>
        
        <li class="TituloFooter"><span>Institucionais <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg> </span>
          <ul class="HideMobile">
            <li><a href="/sobre-a-loja">Sobre o Mercadão</a></li>
            <li><a href="/p/contato">Fale Conosco</a></li>           
          </ul>  
        </li>     
              
        <li class="TituloFooter"><span>Atendimento <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg> </span>
          <ul class="HideMobile">
            <li>
              <a class="item-list-footer" href="mailto:bento@mercadaodapesca.com.br">bento@mercadaodapesca.com.br</a>
            </li>             
            <li>
              <a class="item-list-footer" href="tel:+551146734878">(16) 99639 9857</a>
            </li>
          </ul>  
        </li>
        
        <li class="TituloFooter ftInstitucional"><span>Ajuda e Suporte <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg> </span>
          <ul class="HideMobile">
            <li>
              <a class="item-list-footer" href="/p/como-comprar">Como comprar</a>
            </li>
            <li>
              <a class="item-list-footer" href="/p/privacidade">Segurança e Privacidade</a>
            </li> 
          </ul>        
        </li>
        
        <li class="TituloFooter FormasDePagamentoMobile"><span>Formas de Pagamento</span>
          <ul class="Fpagamento">
            <li>
              <img src="https://www.mercadaodapesca.com/footer/mercadopago.png" style="margin-bottom: 10px; padding-top: 0em; width: 126px; height: 33px;">  
            </li>
            <li style="display: flex;flex-direction: row;">
              <img src="https://www.mercadaodapesca.com/footer/visa.png" style=" width: 42px; height: 19px;"> 
              <img src="https://www.mercadaodapesca.com/footer/mastercard.png" style=" width: 35px; height: 21px;">
              <img src="https://www.mercadaodapesca.com/footer/hypercard.png" style=" width: 35px; height: 17px;">
              <img src="https://www.mercadaodapesca.com/footer/Elo.png" style=" width: 21px; height: 21px;">          
            </li> 
          </ul>        
        </li>

        <li><span style="font-weight: bold; font-size:18px;">Redes Sociais</span>        
          <ul class="RedesSociaisFooter">
            <li>
              <a href="https://www.facebook.com/lojamercadaodapesca" target="_blank">
                <img src="https://www.mercadaodapesca.com/redessociais/facebook.png">  
              </a>           
            </li>
            <li>
              <a href="https://twitter.com/mercadaodapesca" target="_blank">
                <img src="https://www.mercadaodapesca.com/redessociais/twitter.png">  
              </a>           
            </li>            
            <li>
              <a href="https://www.instagram.com/mercadaodapesca" target="_blank">
                <img src="https://www.mercadaodapesca.com/redessociais/instagram.png">                 
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=ZOvxXnXmkCg" target="_blank">
                <img src="https://www.mercadaodapesca.com/redessociais/youtube.png">                            
              </a>
            </li> 
          </ul>        
        </li>
      </ul>
    </div>

    <ul class="SecondFooter">

      <li class="copy">
        <p>
          © Todos os direitos reservados<br>
          MERCADAO DA PESCA ARTIGOS PARA PESCA E LAZER EIRELI-ME<br>
          CNPJ 24.118.116/0001-98
        </p>
      </li>
    </ul>
    <ul class="SecondFooter2">
    <li class="Powered">
        <ul>
          <li>
            <a href="#">
              <img src="https://www.mercadaodapesca.com/footer/seller.png">          
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://www.mercadaodapesca.com/footer/mercadoshops.png">                         
            </a>
          </li>
          <li>
            <a href="https://benova.ag/?utm_source=ismafer&utm_medium=banner&utm_campaign=Logo%20Benova%20Clientes">
              <img class="logo-benova" src="https://www.mercadaodapesca.com/footer/benova.png">              
            </a>
          </li>
        </ul>
      </li>
      </ul>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  
 <script>

    $(function(){

      var urlPresente = document.URL;
      console.log(urlPresente);

      if (urlPresente == "https://www.becommerce.online/sobre-a-loja"){      
        $('.nav-main-content').hide();
        $('.ui-search-rescue').hide();
        $('.OverLayInstitucionais').show();

        $('.BoxCarrosselMarcas.BoxCarrosselCategorias').hide();
        $('.BoxCarrosselMarcas').hide();
        $('.BoxGridBanners').hide();

        console.log('Estou na página SOBRE');      

      } else{

        console.log('Estou na página HOME');  
      }

    });

    $('.ListaCategorias').slick({
          dots: false,
          infinite: true,
          arrows:true,
          speed: 300,
          slidesToShow: 8,
          slidesToScroll: 1,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 8,
                slidesToScroll: 1,
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 1
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 1
              }
            }        
          ]
        });
    
    $('.ListaMarcas2').slick({
        dots: false,
        infinite: true,
        arrows:true,
        speed: 300,
        slidesToShow: 7,
        slidesToScroll: 1,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 7,
              slidesToScroll: 1,
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 1
            }
          }        
        ]
    });

    $('.FirstFooter li.TituloFooter').click(function(){      
      $(this).toggleClass('RodapeAberto');
    });

    $('.FecharInstitucionais').click(function(){
      //$('.OverLayInstitucionais').toggleClass('AtivoInstitucionais');
    });

    $('.FirstFooter').click(function(){
      //$('.OverLayInstitucionais').toggleClass('AtivoInstitucionais');
    });

  </script>

  <script>
    $(document).ready(function(){

    //$('.MetaTagHead').appendTo('head');

    $('.TodasCategorias').mouseover(function(){
      $('.OverlayMenuTodas').show();
    });
  
    $('.TodasCategorias').mouseout(function(){
      $('.OverlayMenuTodas').hide();
    });

    $('.VaiTerNetos').mouseout(function(){
      $('.CasaDasSerrasMenu').show();
    });

    $('.VaiTerNetos').mouseover(function(){
      $('.CasaDasSerrasMenu').hide();
    });

    $('.TodasCategorias').mouseout(function(){
      $('.OverlayMenuTodas').hide();
    });
  
    //$('.search-button').click(function(){
      //$('.BoxBuscaPopUp').fadeIn(300).css('display', 'flex');
    //});
  
    $('.IconeFecharBusca').click(function(){
      $('.IcoBusca').toggleClass('MenuAbertoMobileButton');
    });   

    $('.MenuMobile').click(function(){
      $('.MenuNovoCasa').toggleClass('MenuAbertoMobile');
      $(this).toggleClass('MenuAbertoMobileButton');
    });

    $('.IcoBusca').click(function(){
      $(this).toggleClass('MenuAbertoMobileButton');
    });

    $('.TodasCategorias.categoria-pai').click(function(){     
      $(this).addClass('AbreMenuMobile');
    });

    $('.backbutton-JS').click(function(event){ 
      event.stopPropagation()            
      $('.AbreMenuMobile').removeClass('AbreMenuMobile');
      console.log('teste')
    });

    $('.Icomenu').click(function(){
      $('.menupaginas').toggleClass('Boxmenupaginas');
      $('.ContentDiv').toggleClass('Boxmenupaginas');
    });
    

    $('.FilhoDoPai').click(function(){     
      $(this).addClass('AbreMenuMobile');
    });

    $('.backbutton2-JS').click(function(event){ 
      event.stopPropagation()            
      $('.FilhoDoPai').removeClass('AbreMenuMobile');
      console.log('teste')
    });

    $(function(){
      //$('.BoxCarrosselMarcas').insertAfter('.slider.slider--medium');   
    });

    $(function(){
      $('link[rel="shortcut icon"]').attr("href", "https://www.mercadaodapesca.com/favicon/favicon-32x32.png");
    });

    $(function(){
      $('link[rel="icon"]').attr("href", "https://www.mercadaodapesca.com/favicon/favicon-32x32.png");
    });


  });
  </script>
  <script>
    
    $('#formNews').submit(function(event){
      event.preventDefault();
      $.ajax({
        url : "https://app.emanda.com.br/app/dashboard/insertIsmafer.php",
        type : 'post',
        dataType: 'html',
        crossDomain: true,
        data : {
          nome :  $('#nome').val(),
          email : $('#email').val()
        },
        beforeSend : function(){
          setTimeout(function(){ console.log('Enviando...'); }, 4000);
        }
      })
      .done(function(){
        console.log('Cadastrado com secesso!')
      })
      .fail(function(){
        console.log('Falha ao cadastrar!')
      });
    })
  
  </script>