<div class="boxNews1">
  <div class="wrapForm">
    <img class="bannerdesktop" src="https://arquivos.fjmagazine.com.br/Banner Principal/Banner-Principal.jpg" alt="" style="width: 142em; height: 35em;">
    <img class="bannermobile" src="https://arquivos.fjmagazine.com.br/Banner Principal/Banner-Principal-mobile.jpg" alt="" style="width: 100%; height: 32em;">
  </div>
</div>

<!-- Grid de Banners --> 

<div class="BoxGridBanners">  
  <p>Busca por Categorias</p>  
  <ul>
      <li class="Bum">
          <a href="" >
            <img src="https://arquivos.fjmagazine.com.br/categorias/categorias1.jpg" style="width: 100%;">        
          </a>
      </li>
      <li class="Bdois">  
          <a href="" >
            <img src="https://arquivos.fjmagazine.com.br/categorias/categorias2.jpg" style="width: 100%;">            
          </a>
      </li>
      <li class="Btres">
          <a href="" >
            <img src="https://arquivos.fjmagazine.com.br/categorias/categorias3.jpg" style="width: 100%;">           
          </a>
      </li>
      <li class="Bquatro">
          <a href="" >
            <img src="https://arquivos.fjmagazine.com.br/categorias/categorias4.jpg">           
          </a>
      </li>
      <li class="Bcinco">
          <a href="" >
            <img src="https://arquivos.fjmagazine.com.br/categorias/categorias5.jpg" style="width: 101%;">         
          </a>
      </li>
  </ul>
</div>

<!-- Carrossel de Categorias --> 

<div class="BoxCarrosselMarcas BoxCarrosselCategorias">
  <p>Nossas marcas</p>
  <ul class="ListaCategorias">
      <li>
          <a href="">
            <img src="https://arquivos.fjmagazine.com.br/CarrosselMarcas/belzer.jpg">
          </a>
      </li>
      <li>
          <a href="">
            <img src="https://arquivos.fjmagazine.com.br/CarrosselMarcas/black-decker.jpg">
          </a>
      </li>
      <li>
          <a href="">
            <img src="https://arquivos.fjmagazine.com.br/CarrosselMarcas/boschl.jpg">
          </a>
      </li>
      <li>
          <a href="">
            <img src="https://arquivos.fjmagazine.com.br/CarrosselMarcas/d-link.jpg">
          </a>
      </li>  
      <li>
          <a href="">
            <img src="https://arquivos.fjmagazine.com.br/CarrosselMarcas/dewalt.jpg">
          </a>
      </li> 
      <li>
          <a href="">
            <img src="https://arquivos.fjmagazine.com.br/CarrosselMarcas/elgin.jpg">
          </a>
      </li> 
      <li>
          <a href="">
            <img src="https://arquivos.fjmagazine.com.br/CarrosselMarcas/hikvision.jpg">
          </a>
      </li>
      <li>
          <a href="">
            <img src="https://arquivos.fjmagazine.com.br/CarrosselMarcas/motorola.jpg">
          </a>
      </li>
      <li>
          <a href="">
            <img src="https://arquivos.fjmagazine.com.br/CarrosselMarcas/multilaser.jpg">
          </a>
      </li>
      <li>
          <a href="">
            <img src="https://arquivos.fjmagazine.com.br/CarrosselMarcas/sata.jpg">
          </a>
      </li>
      <li>
          <a href="">
            <img src="https://arquivos.fjmagazine.com.br/CarrosselMarcas/tramontina.jpg">
          </a>
      </li>
  </ul>
</div>


  <div class="OverLayInstitucionais" style="display: none;">
    <div class="BoxInstitucionais">
      <div class="contentInstitucionais">
        <div class="headInstitucionais">
          <img src=""> 
          
          <ul class="menuInstitucionaisBox">
            <li class="menuInstitucionais"><a href="#NossasLojas">Nossas Lojas</a></li>
            <li class="menuInstitucionais"><span> | </span></li>
            <li class="menuInstitucionais"><a href="/p/como-comprar">Como Comprar</a></li>
            <li class="menuInstitucionais"><span> | </span></li>
            <li class="menuInstitucionais"><a href="/p/privacidade">Privacidade</a></li>
            <li class="menuInstitucionais"><span> | </span></li>
            <li class="menuInstitucionais"><a href="/p/contato">Fale Conosco</a></li>
          </ul>       

        </div>

        <div class="ContentDiv">

          <div class="conteudoUm">
            <p>

            </p>
             
          </div>        

          <ul class="IconesIntitucionais"> 
            <li>
              <div class="beneficios-item">
                <img src="">
                <h2>GARANTIA</h2>
                <p>Lorem ipsum is placeholder text commonly used in the graphic, 
                  print, and publishing industries for previewing layouts and 
                  visual mockups.
                </p>
              </div>
            </li>
            <li>
              <div class="beneficios-item">
                <img src="">
                <h2>ENTREGA</h2>
                <p>Lorem ipsum is placeholder text commonly used in the graphic, 
                  print, and publishing industries for previewing layouts and 
                  visual mockups.
                </p>
              </div>
            </li>
            <li>
              <div class="beneficios-item">
                <img src="">
                <h2>COMPROMETIMENTO</h2>
                <p>Lorem ipsum is placeholder text commonly used in the graphic, 
                  print, and publishing industries for previewing layouts and 
                  visual mockups.
                </p>
              </div>
            </li>
          </ul>

          <div class="line-divisor"></div>

            <div class="container-lojas">
              <div class="lojas-item distri">

              </div>
              <div class="lojas-item distri">

              </div>
              <div class="lojas-item distri">

              </div>
            </div>
          </div>
      </div>
      </div>
    </div>    
  </div>


  <footer>
    <div class="boxNews" style="display: none;">
      <div class="wrapForm">
        <div class="titleNews" style="text-align-last: center;">
          <img src="https://arquivos.fjmagazine.com.br/icons/carta.png" alt="Contato">
          <h3>RECEBA AS NOVIDADES E LANÇAMENTOS</h3>
          <p>Cadastre-se em nossa newsletter e fique por dentro de que acontece na Haiz!</p>
        </div>
        <form id="formNews" action="" method="post">
          <ul class="list-itens">
            <li class="item-form">
              <input id="nome" class="nome" type="text" placeholder="Qual o seu nome">
            </li>
            <li class="item-form">
              <input id="email" class="email" type="email" placeholder="E Qual o seu e-mail">
            </li>
            <li class="item-action">
              <button id="btnSubimit" class="btnSubimit">OK</button>
              <div id="resultado"></div>
            </li>
          </ul>
        </form>
      </div>
    </div>

   <div class="VideoInstitucionalIsmafer">
      <h2>Conheça A FJ Magazine</h2>

      <p>Pequena descrição do vídeo Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. Mauris nunc tortor, varius 
        id scelerisque a, imperdiet ut sapien. id scelerisque a, 
        imperdiet ut sapien. id scelerisque a, imperdiet ut sapien.
      </p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ZOvxXnXmkCg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
    <div class="bg-FirstFooter">
      <ul class="FirstFooter">
        <li class="Footer Bum">
	    		<div class="LogoBottom">
	    			<a href="/">
	  				<img src="https://arquivos.fjmagazine.com.br/logo/logo2.png">
    				</a>
            <p style="color: white;">Rua Bonnard, Bloco 25 Nível 4A<br>
                                       Cep: 06465-135 - Barueri-SP<br>
                                       Condomínio Green Valley<br>
                                       Alphaville Empresarial </p>
	    		</div>
        </li>
        
        <li class="TituloFooter Bdois">
          <span>Institucionais <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg> </span>
          <ul class="HideMobile">
            <li><a href="/sobre-a-loja">Quem Somos</a></li>
            <li><a href="">Politica de Entrega</a></li>   
            <li><a href="">Politica de Troca E Devolução</a></li>            
          </ul>  
        </li>     
              
        <li class="TituloFooter Btres">
          <span>Ajuda <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg> </span>
          <ul class="HideMobile">
            <li>
              <a class="item-list-footer" href="">Fale Conosco</a>
            </li>
            <li>
              <a class="item-list-footer" href="">Prazos de Entrega</a>
            </li> 
          </ul>  
        </li>
        
        <li class="TituloFooter ftInstitucional Bquatro">
          <span>Contato<svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg> </span>
          <ul class="HideMobile">
            <li>
              <a class="item-list-footer" href="mailto:contato@atacadodascoisas.com.br">E-mail: contato@atacadodascoisas.com.br</a>
            </li>
            <li>
              <a class="item-list-footer" href="tel:+55">Telefone:(99) 9999-9999</a>
            </li> 
            <li>
              <a class="item-list-footer" href="tel:+55">Whatsapp:(99) 9-9999-9999</a>
            </li>
          </ul>        
        </li>
        
        <li class="TituloFooter FormasDePagamentoMobile Bcinco"><span>Formas de Pagamento</span>
          <ul>
            <li>
              <img src="https://lunnar.com.br/casa/png/formas/mercado-pago.png" style="margin-bottom: 10px;">  
            </li>
            <li>
              <img src="https://lunnar.com.br/casa/png/formas/bandeiras.png">           
            </li> 
          </ul>        
        </li>

        <li class="Bseis">
          <span style="color: white; font-weight: 900; font-size: 15px; text-transform: uppercase;">Redes Sociais</span>        
          <ul class="RedesSociaisFooter">
            <li>
              <a href="https://www.facebook.com/FJ-Magazine-104456427666508" target="_blank">
                <img src="https://arquivos.fjmagazine.com.br/icons/facebook.png">  
              </a>           
            </li>
            <li>
              <a href="https://www.instagram.com/fjmagazine.com.br/?utm_medium=copy_link" target="_blank">
                <img src="https://arquivos.fjmagazine.com.br/icons/instagram.png">                 
              </a>
            </li>
          </ul>        
        </li>
      </ul>
      <ul class="SecondFooter">
      <li class="copy">
        <p>
          © Todos os direitos reservados<br>
          MERCADAO DA PESCA ARTIGOS PARA PESCA E LAZER EIRELI-ME<br>
          CNPJ 24.118.116/0001-98
        </p>
      </li>
    </ul>
    </div>

    <ul class="SecondFooter2">
    <li class="Powered">
        <ul>
          <li>
            <a href="#">
              <img src="https://lunnar.com.br/casa/png/mercado-shops.png">                         
            </a>
          </li>
          <li>
            <a href="https://benova.ag/?utm_source=fjmagazine&utm_medium=banner&utm_campaign=Logo%20Benova%20Clientes">
              <img class="logo-benova" src="https://arquivos.fjmagazine.com.br/logo/logo-benova-footer138px.png">              
            </a>
          </li>
        </ul>
      </li>
      </ul>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  
 <script>

    $(function(){

      var urlPresente = document.URL;
      console.log(urlPresente);

      if (urlPresente == "https://www.becommerce.online/sobre-a-loja"){      
        $('.nav-main-content').hide();
        $('.ui-search-rescue').hide();
        $('.OverLayInstitucionais').show();

        $('.BoxCarrosselMarcas.BoxCarrosselCategorias').hide();
        $('.BoxCarrosselMarcas').hide();
        $('.BoxGridBanners').hide();

        console.log('Estou na página SOBRE');      

      } else{

        console.log('Estou na página HOME');  
      }

    });

    $('.ListaCategorias').slick({
          dots: true,
          infinite: true,
          arrows:true,
          speed: 300,
          slidesToShow: 4,
          slidesToScroll: 4,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 4,
                slidesToScroll: 4,
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            }        
          ]
        });
    
    $('.ListaMarcas2').slick({
        dots: true,
        infinite: true,
        arrows:true,
        speed: 300,
        slidesToShow: 7,
        slidesToScroll: 4,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 7,
              slidesToScroll: 4,
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 1
            }
          }        
        ]
    });

    $('.FirstFooter li.TituloFooter').click(function(){      
      $(this).toggleClass('RodapeAberto');
    });

    $('.FecharInstitucionais').click(function(){
      //$('.OverLayInstitucionais').toggleClass('AtivoInstitucionais');
    });

    $('.FirstFooter').click(function(){
      //$('.OverLayInstitucionais').toggleClass('AtivoInstitucionais');
    });

  </script>

  <script>
    $(document).ready(function(){

    //$('.MetaTagHead').appendTo('head');

    $('.TodasCategorias').mouseover(function(){
      $('.OverlayMenuTodas').show();
    });
  
    $('.TodasCategorias').mouseout(function(){
      $('.OverlayMenuTodas').hide();
    });

    $('.VaiTerNetos').mouseout(function(){
      $('.CasaDasSerrasMenu').show();
    });

    $('.VaiTerNetos').mouseover(function(){
      $('.CasaDasSerrasMenu').hide();
    });

    $('.TodasCategorias').mouseout(function(){
      $('.OverlayMenuTodas').hide();
    });
  
    $('.search-button').click(function(){
      $('.BoxBuscaPopUp').fadeIn(300).css('display', 'flex');
    });
  
    $('.IconeFecharBusca').click(function(){
      $('.BoxBuscaPopUp').toggleClass('BoxAbertoMobile');
      $('.IcoBusca').toggleClass('MenuAbertoMobileButton');
    });

     $('.IcoBuscaMobile').click(function(){
      $('.BoxBuscaPopUp').toggleClass('BoxAbertoMobile');
      $('.IcoBuscaMobile').toggleClass('MenuAbertoMobileButton');
    });    

    $('.MenuMobile').click(function(){
      $('.MenuNovoCasa').toggleClass('MenuAbertoMobile');
      $(this).toggleClass('MenuAbertoMobileButton');
    });

    //$('.IcoBusca').click(function(){
    //  $('.BoxBuscaPopUp').toggleClass('BoxAbertoMobile');
    //  $(this).toggleClass('MenuAbertoMobileButton');
    //});

    $('.TodasCategorias.categoria-pai').click(function(){      
      $(this).toggleClass('AbreMenuMobile');
      $('.MenuAbertoMobile').toggleClass('AbreMenuMobile');
    });

    $(function(){
      //$('.BoxCarrosselMarcas').insertAfter('.slider.slider--medium');   
    });

    $(function(){
      $('link[rel="shortcut icon"]').attr("href", "https:/arquivosalacompras.com.br/Bavicon/favicon-32x32.png");
    });

    $(function(){
      $('link[rel="icon"]').attr("href", "https:/arquivosalacompras.com.br/Bavicon/favicon-32x32.png");
    });


  });
  </script>