<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

<div class="header-wrapper header-wrapper--fixed {{headerAdditionalClasses}}" id="header-wrapper"
	data-ms-theme="fashion">
	<div class="flash-component header--custom-secondary-background header--custom-text">
  		<h3 class="flash-component__text header--custom-secondary-text">
    		<p>FRETE GRÁTIS A PARTIR DE R$79,99.</p>
  		</h3>
   		<a class="flash-component__link" href=""></a>
  	</div>
	<header class="header HeaderCustomHtml">

		<div class="HeaderUm">
			<div class="LogoTopo">
				<a href="/">
					<img class="logoDesktop" src="https://arquivos.fjmagazine.com.br/logo/logo.png">
					<img class="logoMobile" src="https://arquivos.fjmagazine.com.br/logo/logomobile.png">
				</a>
			</div>

							<div class="HeaderDois">
						<ul class="MenuNovoCasa">	
				<li id="teste" class="TodasCategorias categoria-pai RemoveJS">
                    <span class="DiplayFlexMobile">
                        Todas as Categorias
                        <i class="HideDesktop ArrowMenuMobile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </i>
                    </span>
                    <ul class="BoxfilhoMaisCategorias um">
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a>Ferramentas Elétricas</a>                              
                                <ul class="UlNetos">
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/lista/ferramentas-eletricas-perfuracao/_DisplayType_G">Furadeiras/Parafusadeiras</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/lista/ferramentas-eletricas-corte/_DisplayType_G">Serras</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="www.fjmagazine.com.br/lista/ferramentas-eletricas-pistolas-pintura/_DisplayType_G">Pistolas De Pintura</a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a>Ferramentas Manuais</a>                             
                                <ul class="UlNetos">                                      
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/lista/ferramentas-manuais-kits/_DisplayType_G">Kits De Ferramentas</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/lista/ferramentas-manuais-fixacao-chaves-aperto/_DisplayType_G">Chaves</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/lista/ferramentas-construcao/ferramentas/manuais/alicates/_DisplayType_G">Alicates</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/lista/ferramentas-construcao/ferramentas/manuais/morsas/_DisplayType_G">Morsas</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/lista/ferramentas-manuais-corte-e-desbaste/_DisplayType_G">Cortes E Desbastes</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/lista/ferramentas-manuais-elevacao-e-tracao/_DisplayType_G">Cintas De Amarração</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/lista/ferramentas-construcao/ferramentas/manuais/outros/_DisplayType_G">Outros</a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a>Sistemas De Monitoramento</a>                             
                                <ul class="UlNetos">                                   
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/lista/seguranca-casa-sistemas-monitoramento-cameras/_DisplayType_G">Cameras De Segurança</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/lista/seguranca-casa-sistemas-monitoramento-porteiros/_DisplayType_G">Porteiros</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/eletronicos/seguranca-casa-sistemas-monitoramento-gravadores-dvr/_DisplayType_G">Gravadores DVR</a>
                                    </li>                                    
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a>Conectividade E Rede</a>                                  
                                <ul class="UlNetos">                                       
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/informatica/conectividade-e-redes-roteadores/_DisplayType_G">Roteadores</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/informatica/conectividade-e-redes-cabos-rede-acessorios/_DisplayType_G">Cabos De Rede e Acessorios</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/informatica/redes-wifi/wireless-wi-fi/placas-rede/_DisplayType_G">Adaptadores USB</a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a>Eletrônicos, Áudio, Vídeo</a>                                 
                                <ul class="UlNetos">                                      
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/eletronicos/cabos/_DisplayType_G">Cabos</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/eletronicos/acessorios-tv/_DisplayType_G">Acessorios Para TV</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/eletronicos/componentes/_DisplayType_G">Componentes Eletrônicos</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/eletronicos/acessorios-audio-e-video/_DisplayType_G">Acessórios Para Áudio E Vídeo</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/eletronicos/bateria-pilhas-carregadores/_DisplayType_G">Pilhas E Carregadores</a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a>Mais Categorias</a>                                   
                                <ul class="UlNetos">                                   
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/lista/beleza-cuidado-pessoal/_DisplayType_G">Beleza E Cuidado Pessoal</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/lista/casa-moveis-decoracao/_DisplayType_G">Casa, Móveis E Decoração</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/lista/ferramentas-construcao/construcao/_DisplayType_G">Construção</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.fjmagazine.com.br/esportes/_DisplayType_G">Esportes E Fitness</a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                    </ul>
                </li>										
							<li class="TodasCategorias categoria-pai">
									<span class="DiplayFlexMobile">
											<a
													href="">Ferramentas Elétricas</a>
											<i class="HideDesktop ArrowMenuMobile">
													<svg xmlns="http://www.w3.org/2000/svg" width="24"
															height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
															stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">																
															<polyline points="12 5 19 12 12 19"></polyline>
													</svg>
											</i>
									</span>
										<ul class="BoxfilhoTodasCategorias BoxFilhos2">
											<li class="VaiTerNetos">
                                		        <a class="ClassFilho" href="https://www.fjmagazine.com.br/lista/ferramentas-eletricas-perfuracao/_DisplayType_G">Furadeiras/Parafusadeiras</a>
		                                        <a class="ClassFilho" href="https://www.fjmagazine.com.br/lista/ferramentas-eletricas-corte/_DisplayType_G">Serras</a>                                    			
                                        		<a class="ClassFilho" href="https://www.fjmagazine.com.br/lista/ferramentas-eletricas-pistolas-pintura/_DisplayType_G">Pistolas De Pintura</a>
											</li>                                                                                        
									</ul>
							</li>
								<li class="TodasCategorias categoria-pai">
									<span class="DiplayFlexMobile">
											<a href="">Ferramentas Manuais</a>
											<i class="HideDesktop ArrowMenuMobile">
													<svg xmlns="http://www.w3.org/2000/svg" width="24"
															height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
															stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">																
															<polyline points="12 5 19 12 12 19"></polyline>
													</svg>
											</i>
									</span>
										<ul class="BoxfilhoTodasCategorias BoxFilhos3" style="left: 0px;">
											<li class="VaiTerNetos">
												<a class="ClassFilho" href="https://www.fjmagazine.com.br/lista/ferramentas-manuais-kits/_DisplayType_G">Kits De Ferramentas</a>
                                        		<a class="ClassFilho" href="https://www.fjmagazine.com.br/lista/ferramentas-manuais-fixacao-chaves-aperto/_DisplayType_G">Chaves</a>
                            		            <a class="ClassFilho" href="https://www.fjmagazine.com.br/lista/ferramentas-construcao/ferramentas/manuais/alicates/_DisplayType_G">Alicates</a>
                    		                    <a class="ClassFilho" href="https://www.fjmagazine.com.br/lista/ferramentas-construcao/ferramentas/manuais/morsas/_DisplayType_G">Morsas</a>
            		                            <a class="ClassFilho" href="https://www.fjmagazine.com.br/lista/ferramentas-manuais-corte-e-desbaste/_DisplayType_G">Cortes E Desbastes</a>
       		                        	        <a class="ClassFilho" href="https://www.fjmagazine.com.br/lista/ferramentas-manuais-elevacao-e-tracao/_DisplayType_G">Cintas De Amarração</a>
		                                        <a class="ClassFilho" href="https://www.fjmagazine.com.br/lista/ferramentas-construcao/ferramentas/manuais/outros/_DisplayType_G">Outros</a>
											</li>
									</ul>
							</li>
								<li class="TodasCategorias categoria-pai">
									<span class="DiplayFlexMobile">
											<a href="">Sistemas De Monitoramento</a>
											<i class="HideDesktop ArrowMenuMobile">
													<svg xmlns="http://www.w3.org/2000/svg" width="24"
															height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
															stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">																
															<polyline points="12 5 19 12 12 19"></polyline>
													</svg>
											</i>
									</span>
										<ul class="BoxfilhoTodasCategorias BoxFilhos4" style="right: 0px;">
											<li class="VaiTerNetos">
				    							<a class="ClassFilho" href="https://www.fjmagazine.com.br/lista/seguranca-casa-sistemas-monitoramento-cameras/_DisplayType_G">Cameras De Segurança</a>
                                        		<a class="ClassFilho" href="https://www.fjmagazine.com.br/lista/seguranca-casa-sistemas-monitoramento-porteiros/_DisplayType_G">Porteiros</a>
                                        		<a class="ClassFilho" href="https://www.fjmagazine.com.br/eletronicos/seguranca-casa-sistemas-monitoramento-gravadores-dvr/_DisplayType_G">Gravadores DVR</a>
											</li>
									</ul>
						</li>

							<li class="TodasCategorias categoria-pai">
									<span class="DiplayFlexMobile">
											<a href="">Conectividade E Rede</a>
											<i class="HideDesktop ArrowMenuMobile">
													<svg xmlns="http://www.w3.org/2000/svg" width="24"
															height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">																
																<polyline points="12 5 19 12 12 19"></polyline>
														</svg>
												</i>
										</span>

										<ul class="BoxfilhoTodasCategorias BoxFilhos5" style="right: 0px;">
											<li class="VaiTerNetos">
												<a class="ClassFilho" href="https://www.fjmagazine.com.br/informatica/conectividade-e-redes-roteadores/_DisplayType_G">Roteadores</a>
                                     			<a class="ClassFilho" href="https://www.fjmagazine.com.br/informatica/conectividade-e-redes-cabos-rede-acessorios/_DisplayType_G">Cabos De Rede e Acessorios</a>
                                     		    <a class="ClassFilho" href="https://www.fjmagazine.com.br/informatica/redes-wifi/wireless-wi-fi/placas-rede/_DisplayType_G">Adaptadores USB</a>
											</li>
										</ul>
								</li>																														
						</ul>
				</div>
			
			<form class="BoxBuscaPopUp" id="search-form" novalidate="">
				<input type="text" class="nav-search-input header--custom-border"
				placeholder="O que você procura?" id="search-input" required="" autocomplete=" off">
				<button class="IcoBusca" type="submit"><img src="https://arquivos.fjmagazine.com.br/icons/busca.png"></button>
			</form>

			<ul class="IconsTopo">
					<li class="MenuMobile">
						<img src="https://arquivos.fjmagazine.com.br/icons/menu.png">
					</li>
					<li class="IcoLogin">
						<a href="https://myaccount.mercadolivre.com.br/purchases/list#menu-user">
						<img src="https://arquivos.fjmagazine.com.br/icons/user.png" alt="Minha conta">
						</a>
					</li>					
					<li class="IcoBuscaMobile">
						<img src="https://arquivos.fjmagazine.com.br/icons/busca.png">
					</li>
					<li class="IcoMail">
						<a href="/p/contato">
						<img src="https://arquivos.fjmagazine.com.br/icons/carta.png" alt="Contato">
						</a>
					</li>
					<li class="IcoCart" style="margin-left: -1em;">
						<a href="/gz/cart">
						<img src="https://arquivos.fjmagazine.com.br/icons/sacola.png" alt="Carrinho">
						</a>
					</li>
			</ul>
		</div>
		</header>

		<div class="OverlayMenuTodas"></div>

</div>
</div>

{{#if bannerStyles}}
<div class="nav-header__banner" style="display: none !important;">
		<div itemtype="http://schema.org/ImageObject" class="nav-header__banner-image" style="{{bannerStyles}}" itemscope></div>
</div>
{{/if}}