<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

<div class="header-wrapper header-wrapper--fixed {{headerAdditionalClasses}}" id="header-wrapper"
	data-ms-theme="fashion">
	<div class="flash-component header--custom-secondary-background header--custom-text">
  		<h3 class="flash-component__text header--custom-secondary-text">
    		<p>FRETE GRÁTIS A PARTIR DE R$79,00.</p>
  		</h3>
   		<a class="flash-component__link" href=""></a>
  	</div>
	<header class="header HeaderCustomHtml">

		<div class="HeaderUm">
			<div class="LogoTopo">
				<a href="/">
					<img src="https://www.arquivosalacompras.com.br/Logo/Logo.png">
				</a>
			</div>
			
			<form class="BoxBuscaPopUp" id="search-form" novalidate="">
				<input type="text" class="nav-search-input header--custom-border"
				placeholder="O que você procura?" id="search-input" required="" autocomplete=" off">
				<button class="IcoBusca"><img src="https://www.arquivosalacompras.com.br/icones/busca.svg"></button>
			</form>

			<ul class="IconsTopo">
					<li class="MenuMobile">
						<img src="https://www.arquivosalacompras.com.br/icones/menu.svg">
					</li>
					<li class="IcoBuscaMobile">
						<img src="https://www.arquivosalacompras.com.br/icones/busca.svg">
					</li>
					<li class="IcoLogin">
						<a href="https://www./myaccount.mercadolivre.com.br/purchases/list#menu-user">
						<img src="https://www.arquivosalacompras.com.br/icones/person.svg" alt="Minha conta">
						</a>
					</li>
					<li class="IcoMail">
						<a href="/p/contato">
						<img src="https://www.arquivosalacompras.com.br/icones/carta.svg" alt="Contato">
						</a>
					</li>
					<li class="IcoCart">
						<a href="/gz/cart">
						<img src="https://www.arquivosalacompras.com.br/icones/carrinho.svg" alt="Carrinho">
						</a>
					</li>
			</ul>
		</div>

				<div class="HeaderDois">
						<ul class="MenuNovoCasa">	
				<li id="teste" class="TodasCategorias categoria-pai RemoveJS">
                    <img class="categorias" src="https://www.arquivosalacompras.com.br/icones/menu.svg">
                    <span class="DiplayFlexMobile">
                        Todas as Categorias
                        <i class="HideDesktop ArrowMenuMobile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </i>
                    </span>
                    <ul class="BoxfilhoMaisCategorias um">
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai" style="display:flex; flex-direction: row;">
                                <a>Ferramentas</a>
                                <i class="HideDesktop ArrowMenuMobile">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                        <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                        <polyline points="12 7 18 12 12 17"></polyline>
                                    </svg>
                                </i>                              
                                <ul class="UlNetos">
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/caixas-e-organizadores">Caixas e Organizadores</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/pistolapintura">Ferramentas Elétricas</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/ferramentas-manuais/">Ferramentas Manuais</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/acessorios-ferramentas/">Acessórios Para Ferramentas</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/medicoes-e-instrumentacao">Medições e Instrumentação</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/correio">Caixas Correios</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/esquadria">Caixas De Meia Esquadria</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/esquadro">Esquadro Magnético</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/sanfonadas">Caixas Para Ferramentas</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/maleta-plastica">Maletas Plásticas Com Divisórias</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/estante">Estante Gaveteiro Prateleira</a>
                                    </li>                                                                                                            
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai" style="display:flex; flex-direction: row;">
                                <a>Armarinho</a>                                    
                                <i class="HideDesktop ArrowMenuMobile">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                        <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                        <polyline points="12 7 18 12 12 17"></polyline>
                                    </svg>
                                </i>                                 
                                <ul class="UlNetos">                                    
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/juta">Juta</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/fitilho">Fitilho</a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai" style="display:flex; flex-direction: row;">
                                <a>Informática</a>
                                <i class="HideDesktop ArrowMenuMobile">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                        <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                        <polyline points="12 7 18 12 12 17"></polyline>
                                    </svg>
                                </i>                                                              
                                <ul class="UlNetos">                                      
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/cabos">Cabos</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/caddy">Acessórios Para Notebook</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/testador">Testador Cabo De Rede</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/suporte-celular">Suporte De Celular</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/case-hd">Case HD Externo</a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai" style="display:flex; flex-direction: row;">
                                <a>Celulares e Telefones</a>  
                                <i class="HideDesktop ArrowMenuMobile">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                        <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                        <polyline points="12 7 18 12 12 17"></polyline>
                                    </svg>
                                </i>                                                                   
                                <ul class="UlNetos">                                    
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/nokia">Celular</a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai" style="display:flex; flex-direction: row;">
                                <a>Casa e Decoração</a>  
                                <i class="HideDesktop ArrowMenuMobile">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                        <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                        <polyline points="12 7 18 12 12 17"></polyline>
                                    </svg>
                                </i>                                                                  
                                <ul class="UlNetos">                                     
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/pulverizador">Pulverizadores</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/irrigador">Irrigadores</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/utilidades">Utilidades Domésticas</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/utensilios">Utensílios De Cozinha</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/banheiro">Banheiro</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/jardim">Jardim E Exterior</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/mangueira">Mangueiras</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/balança">Balanças</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/cantoneira">Protetores Para  Colchões</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/inflavel">Piscina E Acessórios</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lavadora">Lavadora De Alta Pressão</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/banqueta-multiuso">Banquetas Multiuso</a>
                                    </li>                                                                                                                                                
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai" style="display:flex; flex-direction: row;">
                                <a>Ciclismo</a> 
                                <i class="HideDesktop ArrowMenuMobile">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                        <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                        <polyline points="12 7 18 12 12 17"></polyline>
                                    </svg>
                                </i>                                                             
                                <ul class="UlNetos">                                      
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/gancho-bicicleta">Suporte De Parede</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/hidratação">Bolsa De Hidratação</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/bolsa-de-quadro">Bolsa De Quadro</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/Bi093">Bolsa De Banco Selim</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/minibomba">Mini Bomba</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/esportes/ciclismo/capa">Almofada Banco</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/esportes/ciclismo/celulares-silicone">Suporte Celular Bicicleta Moto</a>
                                    </li>
                                </ul>
                            </li>
                        </div> 
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai" style="display:flex; flex-direction: row;">
                                <a>Brinquedos</a>
                                <i class="HideDesktop ArrowMenuMobile">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                        <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                        <polyline points="12 7 18 12 12 17"></polyline>
                                    </svg>
                                </i>                                                              
                                <ul class="UlNetos">                                      
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/patinete">Patinete</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/elefante">Elefante Basquete Didatico</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/livros">Livros Educativos De Banho</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/feirinha">Feirinha Divertida</a>
                                    </li>
                                </ul>
                            </li>
                        </div> 
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai" style="display:flex; flex-direction: row;">
                                <a>Saúde e Beleza</a>                             
                                <i class="HideDesktop ArrowMenuMobile">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                        <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                        <polyline points="12 7 18 12 12 17"></polyline>
                                    </svg>
                                </i>                                 
                                <ul class="UlNetos">                                      
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/tangle">Escovas De Cabelo</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/secador-de-cabelo">Secador De Cabelo</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/escova-dental-elétrica">Escova Dental Elétrica Infantil</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/inalador">Inalador</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/pff2">Máscaras Respiratorias</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/faceshield">Mascaras Face Shield</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/medidorpressao">Medidor De Pressão</a>
                                    </li>
                                </ul>
                            </li>
                        </div>                                                                                                
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai" style="display:flex; flex-direction: row;">
                                <a>Bebê</a>  
                                <i class="HideDesktop ArrowMenuMobile">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                        <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                        <polyline points="12 7 18 12 12 17"></polyline>
                                    </svg>
                                </i>                                                          
                                <ul id="UlNetos9" class="UlNetos">                                      
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/bebes/mordedor">Mordedores</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/bebes/chupeta">Chupetas</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/bebes/prendedor">Prendedor De Chupeta</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/bebes/fraldas">Fraldas</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/bebes/tapete">Tapetes De Banho</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/bebes/mamadeira">Mamadeiras</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/bebes/escorredor">Escorredor De Mamadeiras</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/bebes/esterilizador">Esterilizador De Chupeta, Bicos E Mamadeiras</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/inalador">Inaladores</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/aspirador">Aspirador Nasal</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/babador">Babador</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/escadinha">Escadinhas</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/banquinho">Banquinhos</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/Espelho">Espelho Retrovisor</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/protetorsolar">Protetor Solar Carro</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/bath">Banheira Inflavel</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/protetor-de-tomada">Protetor De Tomada</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/alimentador-para-bebês-com-rede">Alimentador C/ Rede</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/desfralde">Fraldas Para Desfralde</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/redutor">Assento Vaso Redutor</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/seguranca-chave">Trava De Porta Gaveta</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/estojo-infantil">Estojo Porta Dentes</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/organizador-para-carro">Organizador Para Carro</a>
                                    </li>                                                                       
                                </ul>
                            </li>
                        </div>                        
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai" style="display:flex; flex-direction: row;">
                                <a>Esportes & Fitness</a>                             
                                <i class="HideDesktop ArrowMenuMobile">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                        <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                        <polyline points="12 7 18 12 12 17"></polyline>
                                    </svg>
                                </i>                                
                                <ul class="UlNetos">                                   
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/camisa">Camisa Térmica</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/bermuda">Bermuda Térmica</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/camiseta">Camisetas</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="">Top</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/legging">Legging</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/moletom">Moletom</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="">Tapa Bumbum</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/esportes/elasticas">Kit Faixas/ Extensores</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/4mm">Tapete Para Exercícios</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/esportes/canelito">Canelita</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/esportes/manguito">Manguito</a>
                                    </li>                                                                                                            
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai" style="display:flex; flex-direction: row;">
                                <a>Gestantes</a>                                  
                                <i class="HideDesktop ArrowMenuMobile">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                        <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                        <polyline points="12 7 18 12 12 17"></polyline>
                                    </svg>
                                </i>                                
                                <ul class="UlNetos">                                       
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/gestante">Legging</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="">Bermuda</a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai" style="display:flex; flex-direction: row;">
                                <a>Acessórios para veiculos</a>                                 
                                <i class="HideDesktop ArrowMenuMobile">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                        <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                        <polyline points="12 7 18 12 12 17"></polyline>
                                    </svg>
                                </i>                                
                                <ul class="UlNetos">                                      
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/acessorios-veiculos/chaveiros">Chaveiras</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/acessorios-veiculos/emblemas">Emblemas</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/acessorios-veiculos/capa">Capa De Chave</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/acessorios-veiculos/manopla">Manopla</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/acessorios-veiculos/aplique">Apliques</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/acessorios-veiculos/seguranca">Segurança</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/acessorios-veiculos/limpeza">Limpeza Automotivo</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/acessorios-veiculos/cinta">Cinta Catraca</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/lista/acessorios-veiculos/chupeta">Cabo Para Chupeta Bateria</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/bolsaorganizadora">Bolsa Organizador</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/espuma">Pistola Shampuzeira</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.alacompras.com.br/cunha">Bomba Cunha Bolsa Inflável</a>
                                    </li>                                                                                                                                                
                                </ul>
                            </li>
                        </div>
                    </ul>
                </li>
														
							<li class="TodasCategorias categoria-pai">
									<span class="DiplayFlexMobile">
											<a
													href="">Ferramentas</a>
											<i class="HideDesktop ArrowMenuMobile">
													<svg xmlns="http://www.w3.org/2000/svg" width="24"
															height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
															stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">																
															<polyline points="12 5 19 12 12 19"></polyline>
													</svg>
											</i>
									</span>
										<ul class="BoxfilhoTodasCategorias BoxFilhos2">
											<li class="VaiTerNetos">
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/caixas-e-organizadores">Caixas E Organizadores</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/pistolapintura">Ferramentas Elétricas</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/ferramentas-manuais/">Ferramentas Manuais</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/acessorios-ferramentas/">Acessórios Para Ferramentas</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/medicoes-e-instrumentacao">Medições E Instrumentação</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/correio">Caixas Correios</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/esquadria">Caixas De Meia Esquadria</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/esquadro">Esquadro Magnégtico</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/sanfonadas">Caixas Para Ferramentas</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/maleta-plastica">Maletas Pláticas Com Divisórias</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/estante">Estante Gaveteiro Prateleira</a>
											</li>                                                                                        
									</ul>
							</li>
								<li class="TodasCategorias categoria-pai">
									<span class="DiplayFlexMobile">
											<a href="">Bebê</a>
											<i class="HideDesktop ArrowMenuMobile">
													<svg xmlns="http://www.w3.org/2000/svg" width="24"
															height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
															stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">																
															<polyline points="12 5 19 12 12 19"></polyline>
													</svg>
											</i>
									</span>
										<ul class="BoxfilhoTodasCategorias BoxFilhos3">
											<li class="VaiTerNetos">
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/bebes/mordedor">Mordedores</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/bebes/chupeta">Chupetas</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/bebes/prendedor">Prendedor De Chupeta</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/bebes/fraldas">Fraldas</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/bebes/tapete">Tapetes De Banho</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/bebes/mamadeira">Mamadeiras</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/bebes/escorredor">Escorredor De Mamadeiras</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/bebes/esterilizador">Esterilizador De Chupeta, Bicos E Mamadeiras</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/inalador">Inaladores</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/aspirador">Aspirador Nasal</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/babador">Babador</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/escadinha">Escadinhas</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/banquinho">Banquinhos</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/Espelho">Espelho Retrovisor</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/protetorsolar">Protetor Solar Carro</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/bath">Banheira Inflavel</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/protetor-de-tomada">Protetor De Tomada</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/alimentador-para-bebês-com-rede">Alimentador C/ Rede</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/desfralde">Fraldas Para Desfralde</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/redutor">Assento Vaso Redutor</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/seguranca-chave">Trava De Porta Gaveta</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/estojo-infantil">Estojo Porta Dentes</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/organizador-para-carro">Organizador Para Carro</a>
											</li>
									</ul>
							</li>
								<li class="TodasCategorias categoria-pai">
									<span class="DiplayFlexMobile">
											<a href="">Gestantes</a>
											<i class="HideDesktop ArrowMenuMobile">
													<svg xmlns="http://www.w3.org/2000/svg" width="24"
															height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
															stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">																
															<polyline points="12 5 19 12 12 19"></polyline>
													</svg>
											</i>
									</span>
										<ul class="BoxfilhoTodasCategorias BoxFilhos4">
											<li class="VaiTerNetos">
												<a class="ClassFilho" href="https://www.alacompras.com.br/gestante">Legging</a>
												<a class="ClassFilho" href="">Bermuda</a>
											</li>
									</ul>
						</li>

							<li class="TodasCategorias categoria-pai">
									<span class="DiplayFlexMobile">
											<a href="">Esportes</a>
											<i class="HideDesktop ArrowMenuMobile">
													<svg xmlns="http://www.w3.org/2000/svg" width="24"
															height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">																
																<polyline points="12 5 19 12 12 19"></polyline>
														</svg>
												</i>
										</span>

										<ul class="BoxfilhoTodasCategorias BoxFilhos5">
											<li class="VaiTerNetos">
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/camisa">Camisa Térmica</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/bermuda">Bermuda Térmica</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/camiseta">Camisetas</a>
                                                <a class="ClassFilho" href="">Top</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/legging">Legging</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/moletom">Moletom</a>
                                                <a class="ClassFilho" href="">Tapa Bumbum</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/esportes/elasticas">Kit Faixas/ Extensores</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/4mm">Tapete Para Exercícios</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/esportes/canelito">Canelito</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/esportes/manguito">Manguito</a>
											</li>
										</ul>
								</li>

							<li class="TodasCategorias categoria-pai">
										<span class="DiplayFlexMobile">
												<a
														href="">Automotivo</a>
												<i class="HideDesktop ArrowMenuMobile">
														<svg xmlns="http://www.w3.org/2000/svg" width="24"
																height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">																
																<polyline points="12 5 19 12 12 19"></polyline>
														</svg>
												</i>
										</span>

										<ul class="BoxfilhoTodasCategorias BoxFilhos6">
											<li class="VaiTerNetos">
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/acessorios-veiculos/chaveiros">Chaveiros</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/acessorios-veiculos/emblemas">Emblemas</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/acessorios-veiculos/capa">Capa De Chave</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/acessorios-veiculos/manopla">Manopla</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/acessorios-veiculos/aplique">Apliques</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/acessorios-veiculos/seguranca">Segurança</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/acessorios-veiculos/limpeza">Limpeza Automotiva</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/acessorios-veiculos/cinta">Cinta Catraca</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lista/acessorios-veiculos/chupeta">Cabo Para Chupeta Bateria</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/bolsaorganizadora">Bolsa Organizador</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/espuma">Pistola Shampuzeira</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/cunha">Bomba Cunha Bolsa Inflável</a>
											</li>
										</ul>
								</li>

								<li class="TodasCategorias categoria-pai">
										<span class="DiplayFlexMobile">
												<a
														href="">Casa/Decoração</a>
												<i class="HideDesktop ArrowMenuMobile">
														<svg xmlns="http://www.w3.org/2000/svg" width="24"
																height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">																
																<polyline points="12 5 19 12 12 19"></polyline>
														</svg>
												</i>
										</span>

										<ul class="BoxfilhoTodasCategorias BoxFilhos7">
											<li class="VaiTerNetos">
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/pulverizador">Pulverizadores</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/irrigador">Irrigadores</a>                                        
					                            <a class="ClassFilho" href="https://www.alacompras.com.br/utilidades">Utilidades Domésticas</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/utensilios">Utensílios De Cozinha</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/banheiro">Banheiro</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/jardim">Jardim E Exterior</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/mangueira">Mangueiras</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/balança">Balanças</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/cantoneira">Protetores Para Colchões</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/inflavel">Piscina E Acessórios</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/lavadora">Lavadora De Alta Pressão</a>
                                                <a class="ClassFilho" href="https://www.alacompras.com.br/banqueta-multiuso">Banquetas Multiuso</a>
											</li>
										</ul>
								</li>																													
						</ul>
				</div>

		</header>

		<div class="OverlayMenuTodas"></div>

</div>
</div>

{{#if bannerStyles}}
<div class="nav-header__banner" style="display: none !important;">
		<div itemtype="http://schema.org/ImageObject" class="nav-header__banner-image" style="{{bannerStyles}}" itemscope></div>
</div>
{{/if}}