<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

<div class="header-wrapper header-wrapper--fixed {{headerAdditionalClasses}}" id="header-wrapper"
    data-ms-theme="fashion">
    {{#if flash.enabled}}
    {{> components/flash}}
    {{/if}}

    <header class="header HeaderCustomHtml">

        <div class="HeaderUm">

            <div class="LogoTopo">
                <a href="/">
                    <img src="https://www.mercadaodapesca.com/logo-mercadao-da-pesca-registrada.png">
                </a>
            </div>            
            <ul class="MenuNovoCasa">
                <li id="teste" class="TodasCategorias categoria-pai RemoveJS">
                    <span class="DiplayFlexMobile">
                        Todas as Categorias
                        <i class="HideDesktop ArrowMenuMobile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </i>
                    </span>
                    <ul class="BoxfilhoMaisCategorias">
                        <div class="cabecalhomobile">
                            <span>Todas Categorias</span>
                            <span class="backbutton-JS">voltar</span>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a>Carretilhas</a>                              
                                <ul class="UlNetos">
                                    <div class="cabecalhomobile">
                                    <span>Carretilhas</span>
                                    <span class="backbutton2-JS">voltar</span>
                                    </div>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/maruri">Maruri</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/marine-sports">Marine Sports </a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/sumax">Sumax</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/abu-garcia">Abu Garcia</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/shimano">Shimano</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/saint">Saint</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/daisen">Daisen</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/daiwa">Daiwa</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/pesca-varas-e-acessorios-carretilhas-molinetes/_FiltersAvailableSidebar?filter=BRAND">Outras Marcas</a>
                                    </li>
                                    <div class="contentMenuMaisCategorias">
                                        <a class="imgCategoria" href="">
                                            <img src="https://www.mercadaodapesca.com/categorias/carretilhas.png" alt="Carretilhas">
                                        </a>        
                                    </div>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a>Molinetes</a>                             
                                <ul class="UlNetos">
                                    <div class="cabecalhomobile">
                                    <span>Molinetes</span>
                                    <span class="backbutton2-JS">voltar</span>
                                    </div>                                       
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/maruri">Maruri</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/marine-sports">Marine Sports </a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/sumax">Sumax</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/abu-garcia">Abu Garcia</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/shimano">Shimano</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/saint">Saint</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/daisen">Daisen</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/daiwa">Daiwa</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/pesca-varas-e-acessorios-carretilhas-molinetes/_FiltersAvailableSidebar?filter=BRAND">Outras Marcas</a>
                                    </li>
                                    <div class="contentMenuMaisCategorias">
                                        <a class="imgCategoria" href="">
                                            <img src="https://www.mercadaodapesca.com/categorias/molinetes.png" alt="Molinetes">
                                        </a>         
                                    </div>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a>Varas</a>                             
                                <ul class="UlNetos">
                                    <div class="cabecalhomobile">
                                    <span>Varas</span>
                                    <span class="backbutton2-JS">voltar</span>
                                    </div>                                       
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/maruri">Maruri</a>                                        
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/marine-sports">Marine Sports </a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/sumax">Sumax</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/abu-garcia">Abu Garcia</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/shimano">Shimano</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/saint">Saint</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/_BRAND_8770203">Daisen</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/daiwa">Daiwa</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/albatroz">Albatroz</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/ottoni">Ottoni</a>
                                    </li>                                                                        
                                    <div class="contentMenuMaisCategorias">
                                        <a class="imgCategoria" href="">
                                            <img src="https://www.mercadaodapesca.com/categorias/varas.png" alt="Varas">
                                        </a>         
                                    </div>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a>Linhas</a>                                  
                                <ul class="UlNetos">
                                    <div class="cabecalhomobile">
                                    <span>Linhas</span>
                                    <span class="backbutton2-JS">voltar</span>
                                    </div>                                       
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca/linhas/monofilamento">Monofilamento</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca/linhas/multifilamento">Multifilamento</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca/linhas/leader">Leader</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca/linhas/soft">Soft</a>
                                    </li>
                                    <div class="contentMenuMaisCategorias">
                                        <a class="imgCategoria" href="">
                                            <img src="https://www.mercadaodapesca.com/categorias/linhas.png" alt="Linhas">
                                        </a>         
                                    </div>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a>Iscas</a>                                 
                                <ul class="UlNetos">
                                    <div class="cabecalhomobile">
                                    <span>Iscas</span>
                                    <span class="backbutton2-JS">voltar</span>
                                    </div>                                        
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-iscas-anzois/_BRAND_511549">Maruri</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-iscas-anzois/_BRAND_510586">Marine Sports</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-iscas-anzois/_BRAND_559725">Sumax</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-iscas-anzois/_BRAND_2956909">Nelson Nakamura</a>
                                    </li>
                                    <div class="contentMenuMaisCategorias">
                                        <a class="imgCategoria" href="">
                                            <img src="https://www.mercadaodapesca.com/categorias/iscas.png" alt="Iscas">
                                        </a>         
                                    </div>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a>Anzóis</a>                                   
                                <ul class="UlNetos">
                                    <div class="cabecalhomobile">
                                    <span>Anzóis</span>
                                    <span class="backbutton2-JS">voltar</span>
                                    </div>                                      
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/anzol-maruri">Maruri</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/anzol-marine-sports">Marine Sports</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/anzol-crown">Crown</a>
                                    </li>
                                    <div class="contentMenuMaisCategorias">
                                        <a class="imgCategoria" href="">
                                            <img src="https://www.mercadaodapesca.com/categorias/anzois.png" alt="Anzóis">
                                        </a>         
                                    </div>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a>Facas</a>                                   
                                <ul class="UlNetos">
                                    <div class="cabecalhomobile">
                                    <span>Facas</span>
                                    <span class="backbutton2-JS">voltar</span>
                                    </div>                                      
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-acessorios-facas-canivetes/marine-sports">Marine Sports</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-acessorios-facas-canivetes/maruri">Maruri</a>
                                    </li>
                                    <div class="contentMenuMaisCategorias">
                                        <a class="imgCategoria" href="">
                                            <img src="" alt="Facas">
                                        </a>         
                                    </div>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a>Roupas</a>                                    
                                <ul class="UlNetos">
                                    <div class="cabecalhomobile">
                                    <span>Roupas</span>
                                    <span class="backbutton2-JS">voltar</span>
                                    </div>                                     
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca-roupas-camisetas">Camisetas de Pesca</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/pesca/roupas/calcas-pesca">Calças de Pesca</a>
                                    </li>
                                    <div class="contentMenuMaisCategorias">
                                        <a class="imgCategoria" href="">
                                            <img src="" alt="Roupas">
                                        </a>         
                                    </div>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a class="LinksFilhos">Redes</a>                                   
                                <ul class="UlNetos">
                                    <div class="cabecalhomobile">
                                    <span>Redes</span>
                                    <span class="backbutton2-JS">voltar</span>
                                    </div>                                      
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/passagua-retratil-marine-a082f">Marine Sports</a>
                                    </li>
                                    <div class="contentMenuMaisCategorias">
                                        <a class="imgCategoria" href="">
                                            <img src="https://www.mercadaodapesca.com/categorias/rede.png" alt="Redes">
                                        </a>         
                                    </div>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a>Bolsas</a>                                  
                                <ul class="UlNetos">
                                    <div class="cabecalhomobile">
                                    <span>Bolsas</span>
                                    <span class="backbutton2-JS">voltar</span>
                                    </div>                                       
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-acessorios-mochilas-pochetes/_BRAND_510586">Marine Sports</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-acessorios/bolsa_BRAND_559725">Sumax</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-acessorios/bolsa_BRAND_4323884">Jogá</a>
                                    </li>
                                    <div class="contentMenuMaisCategorias">
                                        <a class="imgCategoria" href="">
                                            <img src="https://www.mercadaodapesca.com/categorias/mochilas.png" alt="Bolsas">
                                        </a>         
                                    </div>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a>Caixas</a>                               
                                <ul class="UlNetos">
                                    <div class="cabecalhomobile">
                                    <span>Caixas</span>
                                    <span class="backbutton2-JS">voltar</span>
                                    </div>                                          
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-caixas/marine-sports">Marine Sports</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-caixas/joga">Jogá</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-caixas/shimano">Shimano</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-caixas/albatroz">Albatroz</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-caixas/sumax">Sumax</a>
                                    </li>                                                                       
                                    <div class="contentMenuMaisCategorias">
                                        <a class="imgCategoria" href="">
                                            <img src="https://www.mercadaodapesca.com/categorias/caixa.png" alt="Caixas">
                                        </a>         
                                    </div>
                                </ul>
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a>Alicates</a>                                 
                                <ul class="UlNetos">
                                    <div class="cabecalhomobile">
                                    <span>Alicates</span>
                                    <span class="backbutton2-JS">voltar</span>
                                    </div>    
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/alicate-marine-sports">Marine Sports</a>
                                    </li>
                                    <li class="linkNetos">
                                        <a href="https://www.mercadaodapesca.com.br/alicate-maruri">Maruri</a>
                                    </li>
                                    <div class="contentMenuMaisCategorias">
                                        <a class="imgCategoria" href="">
                                            <img src="https://www.mercadaodapesca.com/categorias/acessorios.png" alt="Alicates">
                                        </a>         
                                    </div>
                                </ul>
                            </li>
                        </div>

                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a class="LinksFilhos" href="https://www.mercadaodapesca.com.br/pesca/_FiltersAvailableSidebar?filter=category">Outros</a>
                            </li>
                        </div>
                    </ul>
                </li>

                <li class="TodasCategorias categoria-pai">                    
                    <span class="DiplayFlexMobile">
                        Carretilhas
                        <i class="HideDesktop ArrowMenuMobile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </i>
                    </span>

                    <ul class="BoxfilhoTodasCategorias BoxFilhos1">
                        <div class="cabecalhomobile">
                            <span>Carretilhas</span>
                            <span class="backbutton-JS">voltar</span>
                        </div>
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/maruri">Maruri</a>
                        </li>
                        <li class="VaiTerNetos"> 
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/marine-sports">Marine Sports</a>
                        </li>
                        <li class="VaiTerNetos">      
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/sumax">Sumax</a>
                        </li>             
                        <li class="VaiTerNetos">       
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/abu-garcia">Abu Garcia</a>
                        </li>
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/shimano">Shimano</a>
                        </li> 
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/saint">Saint</a>
                        </li>        
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/daisen">Daisen</a>
                        </li>    
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/daiwa">Daiwa</a>  
                        </li>                                                      
                        <div class="contentMenu">
                            <a class="imgCategoria" href="" style="border-bottom: none;">
                                <img src="https://www.mercadaodapesca.com/categorias/carretilhas.png" alt="Carretilhas">
                            </a>        
                            <div class="contentTextMenu HideDesktop">
                                <h3>Lorem Ipsum</h3>
                                <p>Lorem ipsum is placeholder text commonly used in the graphic, 
                                    print, and publishing industries for previewing layouts and 
                                    visual mockups.
                                </p>
                            </div>   
                        </div>
                    </ul>
                </li>

                <li class="TodasCategorias categoria-pai">
                    <span class="DiplayFlexMobile">
                        Molinetes
                        <i class="HideDesktop ArrowMenuMobile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </i>
                    </span>

                    <ul class="BoxfilhoTodasCategorias BoxFilhos2">
                        <div class="cabecalhomobile">
                               <span>Molinetes</span>
                            <span class="backbutton-JS">voltar</span>
                        </div>
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/maruri">Maruri</a>
                        </li>
                        <li class="VaiTerNetos">    
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/marine-sports">Marine Sports</a>
                        </li>
                        <li class="VaiTerNetos">    
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/sumax">Sumax</a>
                        </li>
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/abu-garcia">Abu Garcia</a>
                        </li>
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/shimano">Shimano</a>
                        </li> 
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/saint">Saint</a>
                        </li>    
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/daisen">Daisen</a>
                        </li>    
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-carretilhas-molinetes/daiwa">Daiwa</a>
                        </li>
                        <div class="contentMenu">
                            <a class="imgCategoria" href="" style="border-bottom: none;">
                                <img src="https://www.mercadaodapesca.com/categorias/molinetes.png" alt="Molinetes">
                            </a>        
                            <div class="contentTextMenu HideDesktop">
                                <h3>Lorem Ipsum</h3>
                                <p>Lorem ipsum is placeholder text commonly used in the graphic, 
                                    print, and publishing industries for previewing layouts and 
                                    visual mockups.
                                </p>
                            </div>   
                        </div>
                    </ul>
                </li>

                <li class="TodasCategorias categoria-pai">
                    <span class="DiplayFlexMobile">
                         Varas
                        <i class="HideDesktop ArrowMenuMobile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </i>
                    </span>

                    <ul class="BoxfilhoTodasCategorias BoxFilhos3">
                        <div class="cabecalhomobile">
                            <span>Varas</span>
                            <span class="backbutton-JS">voltar</span>
                        </div>                        
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/maruri">Maruri</a>
                        </li>        
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/marine-sports">Marine Sports</a>
                        </li>        
                        <li class="VaiTerNetos">                            
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/sumax">Sumax</a>
                        </li>    
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/abu-garcia">Abu Garcia</a>
                        </li>        
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/albatroz">Albatroz</a>
                        </li>
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/shimano">Shimano</a>
                        </li> 
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/saint">Saint</a>
                        </li>        
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/_BRAND_8770203">Daisen</a>
                        </li>        
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/daiwa">Daiwa</a>
                        </li>        
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios/ottoni">Ottoni</a>
                        </li>
                        <div class="contentMenu">
                            <a class="imgCategoria" href="" style="border-bottom: none;">
                                <img src="https://www.mercadaodapesca.com/categorias/varas.png" alt="Varas">
                            </a>        
                            <div class="contentTextMenu HideDesktop">
                                <h3>Lorem Ipsum</h3>
                                <p>Lorem ipsum is placeholder text commonly used in the graphic, 
                                    print, and publishing industries for previewing layouts and 
                                    visual mockups.
                                </p>
                            </div>   
                        </div>
                    </ul>
                </li>

                <li class="TodasCategorias categoria-pai">
                    <span class="DiplayFlexMobile">
                        Linhas
                        <i class="HideDesktop ArrowMenuMobile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </i>
                    </span>

                    <ul class="BoxfilhoTodasCategorias BoxFilhos4">
                        <div class="cabecalhomobile">
                               <span>Linhas</span>
                            <span class="backbutton-JS">voltar</span>
                        </div>                        
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca/linhas/monofilamento">Monofilamento</a>
                        </li>
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca/linhas/multifilamento">Multifilamento</a>
                        </li>
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca/linhas/leader">Leader</a>
                        </li>                                                
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca/linhas/soft">Soft</a>
                        </li>
                        <div class="contentMenu">
                            <a class="imgCategoria" href="" style="border-bottom: none;">
                                <img src="https://www.mercadaodapesca.com/categorias/linhas.png" alt="Linhas">
                            </a>        
                            <div class="contentTextMenu HideDesktop">
                                <h3>Lorem Ipsum</h3>
                                <p>Lorem ipsum is placeholder text commonly used in the graphic, 
                                    print, and publishing industries for previewing layouts and 
                                    visual mockups.
                                </p>
                            </div>   
                        </div>
                    </ul>
                </li> 

                <li class="TodasCategorias categoria-pai">
                    <span class="DiplayFlexMobile">
                         Iscas
                        <i class="HideDesktop ArrowMenuMobile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </i>
                    </span>

                    <ul class="BoxfilhoTodasCategorias BoxFilhos5">
                        <div class="cabecalhomobile">
                            <span>Iscas</span>
                            <span class="backbutton-JS">voltar</span>
                        </div>                        
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-iscas-anzois/maruri">Maruri</a>
                        </li>        
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-iscas-anzois/marine-sports">Marine Sports</a>
                        </li>   
                        <li class="VaiTerNetos">   
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-iscas-anzois/sumax">Sumax</a>
                        </li>    
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/pesca-varas-e-acessorios-iscas-anzois/nelson-nakamura">Nelson Nakamura</a>
                        </li>
                        <div class="contentMenu">
                            <a class="imgCategoria" href="" style="border-bottom: none;">
                                <img src="https://www.mercadaodapesca.com/categorias/iscas.png" alt="Iscas">
                            </a>        
                            <div class="contentTextMenu HideDesktop">
                                <h3>Lorem Ipsum</h3>
                                <p>Lorem ipsum is placeholder text commonly used in the graphic, 
                                    print, and publishing industries for previewing layouts and 
                                    visual mockups.
                                </p>
                            </div>   
                        </div>
                    </ul>
                </li>

                <li class="TodasCategorias categoria-pai">
                    <span class="DiplayFlexMobile">
                        Caixas
                        <i class="HideDesktop ArrowMenuMobile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </i>
                    </span>

                    <ul class="BoxfilhoTodasCategorias BoxFilhos6">
                        <div class="cabecalhomobile">
                            <span>Caixa</span>
                            <span class="backbutton-JS">voltar</span>
                        </div>                        
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-caixas/marine-sports">Marine Sports</a>
                        </li>
                        <li class="VaiTerNetos">        
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-caixas/joga">Jogá</a>
                        </li>    
                        <li class="VaiTerNetos">    
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-caixas/shimano">Shimano</a>
                        </li>    
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-caixas/albatroz">Jogá</a>
                        </li>    
                        <li class="VaiTerNetos">
                            <a class="ClassFilho" href="https://www.mercadaodapesca.com.br/esportes/camping-caca-e-pesca-caixas/sumax">Shimano</a>
                        </li>
                        <div class="contentMenu">
                            <a class="imgCategoria" href="" style="border-bottom: none;">
                                <img src="https://www.mercadaodapesca.com/categorias/caixa.png" alt="Caixa">
                            </a>        
                            <div class="contentTextMenu HideDesktop">
                                <h3>Lorem Ipsum</h3>
                                <p>Lorem ipsum is placeholder text commonly used in the graphic, 
                                    print, and publishing industries for previewing layouts and 
                                    visual mockups.
                                </p>
                            </div>   
                        </div>
                    </ul>
                </li>

            </ul>
            <form class="BoxBuscaPopUp BoxAbertoMobile" id="search-form" novalidate="">
                <input type="text" class="nav-search-input header--custom-border"
                    placeholder="Digite aqui o que procura..." id="search-input" required="" autocomplete=" off">
                <button class="IcoBusca"><img src="https://mercadaodapesca.com/icons/busca2.png"></button>
            </form>

            <ul class="IconsTopo">
                <li class="MenuMobile">
                    <img src="https://mercadaodapesca.com/icons/menu2.png">
                </li>
                <li class="IcoMail">
                    <a href="/p/contato">
                        <img src="https://mercadaodapesca.com/icons/carta2.png" alt="Contato">
                    </a>
                </li>
                <li class="IcoCart">
                    <a href="/gz/cart">
                        <img src="https://mercadaodapesca.com/icons/carrinho2.png" alt="Carrinho" style="max-width: 40px;">
                    </a>
                </li>
            </ul>
        </div>      
    </header>
    <div class="OverlayMenuTodas"></div>

</div>
</div>

{{#if bannerStyles}}
<div class="nav-header__banner" style="display: none !important;">
    <div itemtype="http://schema.org/ImageObject" class="nav-header__banner-image" style="{{bannerStyles}}" itemscope></div>
</div>
{{/if}}