<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

<div class="header-wrapper header-wrapper--fixed {{headerAdditionalClasses}}" id="header-wrapper"
	data-ms-theme="fashion">
	{{#if flash.enabled}}
    {{> components/flash}}
    {{/if}}
	<header class="header HeaderCustomHtml">


		<div class="HeaderUm">
			<div class="LogoTopo">
				<a href="/">
					<img class="logoDesktop" src="https://lunnar.com.br/cidadeecampo/logo/logo.png">
					<img class="logoMobile" src="https://lunnar.com.br/cidadeecampo/logo/logo.png">
				</a>
			</div>

			<div class="HeaderDois">
				<ul class="MenuNovoCasa">	
					<li class="TodasCategorias categoria-pai RemoveJS BoxPai1">
						<img src="https://lunnar.com.br/cidadeecampo/menu/menu1.png" alt="">
           		         	<span class="DiplayFlexMobile">
           	    	        	ferramentas
								<i class="HideDesktop ArrowMenuMobile">
                            	<svg xmlns="http://www.w3.org/2000/svg" width="24"
                                	height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
                                	stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                	<line x1="-1" y1="-1" x2="-1" y2="-1"></line>
                                	<polyline points="12 5 19 12 12 19"></polyline>
                            	</svg>
                       			</i>
                    		</span>
                    	<ul class="BoxfilhoMaisCategorias um">
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a href="https://www.cidadeecampo.com.br/lista/ferramentas-construcao/_Frete_Full">Full</a>                            
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                            	<a href="https://www.cidadeecampo.com.br/lista/ferramentas-eletricas/">Ferramentas Elétricas</a>                            
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a href="https://www.cidadeecampo.com.br/lista/ferramentas-jardim/">Ferramentas para jardinagem</a>                             
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a href="https://www.cidadeecampo.com.br/lista/ferramentas-manuais/">Ferramentas Manuais</a>                                 
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a href="https://www.cidadeecampo.com.br/lista/caixas-e-organizadores/">Caixas Para Ferramentas</a>                                
                            </li>
                        </div>
                        <div class="BoxMaisCategorias">
                            <li class="FilhoDoPai">
                                <a href="https://www.cidadeecampo.com.br/lavadoras-de-alta-pressao">Lavadoras de Alta Pressão</a>                                 
                            </li>
                        </div>
                    	</ul>
					</li>		               											
					<li class="TodasCategorias categoria-pai BoxPai2">
						<img src="https://lunnar.com.br/cidadeecampo/menu/menu2.svg" alt="" width="29%">
							<span class="DiplayFlexMobile">
								Jardinagem e Agricultura
								<i class="HideDesktop ArrowMenuMobile">
									<svg xmlns="http://www.w3.org/2000/svg" width="24"
										height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
										stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">																
										<polyline points="12 5 19 12 12 19"></polyline>
									</svg>
								</i>
							</span>
						<ul class="BoxfilhoTodasCategorias BoxFilhos2">
							<li class="VaiTerNetos">
                    	        <a class="ClassFilho" href="https://www.cidadeecampo.com.br/lista/eletrodomesticos/_Frete_Full">Full</a>
		                        <a class="ClassFilho" href="https://www.cidadeecampo.com.br/triturador-forrageiro">Triturador Forrageiro</a>                                    			
                          		<a class="ClassFilho" href="https://www.cidadeecampo.com.br/triturador-residuos">Triturador de Resíduos</a>
                    	        <a class="ClassFilho" href="https://www.cidadeecampo.com.br/cortador-grama-gasolina">Cortador de Grama/Gasolina</a>
		                        <a class="ClassFilho" href="https://www.cidadeecampo.com.br/lista/ferramentas-jardim-cortadores-grama-eletricos/">Cortador de Grama Elétrico</a>                                    			
                          		<a class="ClassFilho" href="https://www.cidadeecampo.com.br/ro%C3%A7adeira">Roçadeira</a>								  
							</li>                                                                                        
						</ul>
					</li>
					<li class="TodasCategorias categoria-pai BoxPai3">
						<img src="https://lunnar.com.br/cidadeecampo/menu/menu4.png" alt="">
							<span class="DiplayFlexMobile">
								Ar e Ventilação
								<i class="HideDesktop ArrowMenuMobile">
									<svg xmlns="http://www.w3.org/2000/svg" width="24"
										height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
										stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">																
										<polyline points="12 5 19 12 12 19"></polyline>
									</svg>
								</i>
							</span>
						<ul class="BoxfilhoTodasCategorias BoxFilhos3" >
							<li class="VaiTerNetos">
								<a class="ClassFilho" href="https://www.cidadeecampo.com.br/ventilador_Frete_Full">Full</a>
                           		<a class="ClassFilho" href="https://www.cidadeecampo.com.br/ventilador">Ventiladores</a>
                                <a class="ClassFilho" href="https://www.cidadeecampo.com.br/ventilador-teto">Ventiladores de Teto</a>
                    	        <a class="ClassFilho" href="https://www.cidadeecampo.com.br/ventilador-parede">Ventiladores de Parede</a>
            		            <a class="ClassFilho" href="https://www.cidadeecampo.com.br/lista/ar-e-ventilacao-climatizador-portatil/">Climatizadores</a>
       		            	    <a class="ClassFilho" href="https://www.cidadeecampo.com.br/lista/eletrodomesticos/ar-e-ventilacao/aquecedores-ar/">Aquecedores</a>
							</li>
						</ul>
					</li>
					<li class="TodasCategorias categoria-pai BoxPai4">
						<img src="https://lunnar.com.br/cidadeecampo/menu/menu3.png" alt="">
							<span class="DiplayFlexMobile">
								Construção Civil
								<i class="HideDesktop ArrowMenuMobile">
									<svg xmlns="http://www.w3.org/2000/svg" width="24"
										height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
										stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">																
										<polyline points="12 5 19 12 12 19"></polyline>
									</svg>
								</i>
							</span>
						<ul class="BoxfilhoTodasCategorias BoxFilhos4" >
							<li class="VaiTerNetos">
								<a class="ClassFilho" href="https://www.cidadeecampo.com.br/lista/ferramentas-industriais/_Frete_Full">Full</a>
                           		<a class="ClassFilho" href="https://www.cidadeecampo.com.br/guincho">Guincho Elétrico</a>
                           		<a class="ClassFilho" href="https://www.cidadeecampo.com.br/balde-para-guincho-de-coluna-50-litros">balde</a>
								<a class="ClassFilho" href="https://www.cidadeecampo.com.br/motoesmeril">motoesmeril</a>
                           		<a class="ClassFilho" href="https://www.cidadeecampo.com.br/talha-manual">Talha Manual</a>
                           		<a class="ClassFilho" href="https://www.cidadeecampo.com.br/trole">Trole</a>								   
							</li>
						</ul>
					</li>
					<li class="TodasCategorias categoria-pai BoxPai5">
						<img src="https://lunnar.com.br/cidadeecampo/menu/menu5.png" alt="" style="width: auto; height: 40px;">
							<span class="DiplayFlexMobile">
								Marcas Líder
								<i class="HideDesktop ArrowMenuMobile">
									<svg xmlns="http://www.w3.org/2000/svg" width="24"
										height="24" viewBox="0 0 24 24" fill="none" stroke="#EEEEEE" stroke-width="2"
										stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">																
										<polyline points="12 5 19 12 12 19"></polyline>
									</svg>
								</i>
							</span>
						<ul class="BoxfilhoTodasCategorias BoxFilhos5">
							<li class="VaiTerNetos">
	 							<a class="ClassFilho" href="https://www.cidadeecampo.com.br/makita">Makita</a>
                           		<a class="ClassFilho" href="https://www.cidadeecampo.com.br/menegotti">menegotti</a>
                           	    <a class="ClassFilho" href="https://www.cidadeecampo.com.br/vonder">vonder</a>
	 							<a class="ClassFilho" href="https://www.cidadeecampo.com.br/garthen">garthen</a>
								<a class="ClassFilho" href="https://www.cidadeecampo.com.br/Bovenau">Bovenau</a>
                           		<a class="ClassFilho" href="https://www.cidadeecampo.com.br/motomil">motomil</a>
                           	    <a class="ClassFilho" href="https://www.cidadeecampo.com.br/cidG">cID</a>
	 							<a class="ClassFilho" href="https://www.cidadeecampo.com.br/trapp">trapp</a>
                           		<a class="ClassFilho" href="https://www.cidadeecampo.com.br/ventisol">Ventisol</a>
                           	    <a class="ClassFilho" href="https://www.cidadeecampo.com.br/lorenzetti">Lorenzetti</a>
	 							<a class="ClassFilho" href="https://www.cidadeecampo.com.br/metalsul">metalsul</a>
                           		<a class="ClassFilho" href="https://www.cidadeecampo.com.br/karcher">karcher</a>
                           	    <a class="ClassFilho" href="https://www.cidadeecampo.com.br/starflex">starflex</a>								   								   							
							</li>
						</ul>
					</li>					
					<li class="telefone">
              			<p style="margin-bottom:0; color:#4C5820; font-weight:900; font-size:15px">Contato:</p><a class="item-list-footer" href="tel:+554732732623" style="margin-top:0; text-decoration:none; color:black;">(47) 3273-2623</a>
            		</li> 																									
					<li class="atendimento">
              			<p style="margin-bottom:0; color:#4C5820; font-weight:900; font-size:15px; padding-top: 1rem;">Horário de Atendimento:<br></p>
						<p style="margin-top:0;">De segunda a sexta das 8h às 18h<br>
						   Sábado das 9h às 12h</p>
            		</li> 
				</ul>
			</div>
			
			<form class="BoxBuscaPopUp" id="search-form" novalidate="">
				<input type="text" class="nav-search-input header--custom-border"
				placeholder="O que você procura?" id="search-input" required="" autocomplete=" off">
				<button class="IcoBusca" type="submit"><img src="https://lunnar.com.br/cidadeecampo/icons/busca.png"></button>
			</form>

			<ul class="IconsTopo">
					<li class="MenuMobile">
						<img src="https://lunnar.com.br/cidadeecampo/icons/menu.png">
					</li>
					<li class="IcoLogin">
						<a href="https://myaccount.mercadolivre.com.br/purchases/list#menu-user">
						<img src="https://lunnar.com.br/cidadeecampo/icons/user.png" alt="Minha conta">
						</a>
					</li>					
					<li class="IcoBuscaMobile">
						<img src="https://lunnar.com.br/cidadeecampo/icons/busca.png">
					</li>
					<li class="IcoMail">
						<a href="/p/contato">
						<img src="https://lunnar.com.br/cidadeecampo/icons/carta.png" alt="Contato">
						</a>
					</li>
					<li class="IcoCart" style="margin-left: -1em;">
						<a href="/gz/cart">
						<img src="https://lunnar.com.br/cidadeecampo/icons/carrinho.png" alt="Carrinho">
						</a>
					</li>
			</ul>
		</div>
		</header>

		<div class="OverlayMenuTodas"></div>

</div>
</div>

{{#if bannerStyles}}
<div class="nav-header__banner" style="display: none !important;">
		<div itemtype="http://schema.org/ImageObject" class="nav-header__banner-image" style="{{bannerStyles}}" itemscope></div>
</div>
{{/if}}